section.revsSliderSection
    .revsSliderSection__inner
        .revsSliderSection__slider.revsSlider
            .revsSlider__slide
                .revsSlider__slideInner
                    .revsSlider__personInfo
                        .revsSlider__imgWrap
                            img.revsSlider__img(src="static/img/content/revsSlider/revsSlider__personPhoto-1.png" alt="")
                        .revsSlider__personName
                            | Noori El Mansur
                    p.revsSlider__text
                        | Just got granite installed for a second home from this company. I've also recommended them to quite a few clients (Realtor) and have personally supervised about 5 other jobs that they've done for me for out of town clients. Here's the deal: This company has some of the best prices per grade of granite. Period. Only reason I don't say the absolute best prices is because I haven't researched all places. But if there's a cheaper place, I haven't found it.
            .revsSlider__slide
                .revsSlider__slideInner
                    .revsSlider__personInfo
                        .revsSlider__imgWrap
                            img.revsSlider__img(src="static/img/content/revsSlider/revsSlider__personPhoto-2.png" alt="")
                        .revsSlider__personName
                            | Noori El Mansur
                    p.revsSlider__text
                        | Just got granite installed for a second home from this company. I've also recommended them to quite a few clients (Realtor) and have personally supervised about 5 other jobs that they've done for me for out of town clients. Here's the deal: This company has some of the best prices per grade of granite. Period. Only reason I don't say the absolute best prices is because I haven't researched all places. But if there's a cheaper place, I haven't found it.
            .revsSlider__slide
                .revsSlider__slideInner
                    .revsSlider__personInfo
                        .revsSlider__imgWrap
                            img.revsSlider__img(src="static/img/content/revsSlider/revsSlider__personPhoto-3.png" alt="")
                        .revsSlider__personName
                            | Noori El Mansur
                    p.revsSlider__text
                        | Just got granite installed for a second home from this company. I've also recommended them to quite a few clients (Realtor) and have personally supervised about 5 other jobs that they've done for me for out of town clients. Here's the deal: This company has some of the best prices per grade of granite. Period. Only reason I don't say the absolute best prices is because I haven't researched all places. But if there's a cheaper place, I haven't found it.
        .revsSliderSection__controls
            button.revsSliderSection__btn.revsSliderSection__btn-prev(type="button")
            button.revsSliderSection__btn.revsSliderSection__btn-next(type="button")