section.prodCatalogSection
    .prodCatalogSection__inner
        .prodCatalogSection__filters
            p.prodCatalogSection__filtersItem
                span.prodCatalogSection__filtersLabel
                    <i class="fas fa-filter"></i>
                    | filter
                select.prodCatalogSection__selectList.prodCatalogSection__selectList-big
                    option(value="MSI Q Quartz" selected)
                        | MSI Q Quartz
                    option(value="MSI Q Quartz1")
                        | MSI Q Quartz
                    option(value="MSI Q Quartz2")
                        | MSI Q Quartz
                    option(value="MSI Q Quartz3")
                        | MSI Q Quartz
                select.prodCatalogSection__selectList.prodCatalogSection__selectList-big
                    option(value="brown" selected)
                        | Brown
                    option(value="brown1")
                        | Brown
                    option(value="brown2")
                        | Brown
            p.prodCatalogSection__filtersItem
                span.prodCatalogSection__filtersLabel
                    <i class="fas fa-sort-amount-down"></i>
                    | sort by
                select.prodCatalogSection__selectList.prodCatalogSection__selectList-big
                    option(value="Best Selling" selected)
                        | Best Selling
                    option(value="Best Selling1")
                        | Best Selling1
                    option(value="Best Selling2")
                        | Best Selling2
                    option(value="Best Selling3")
                        | Best Selling3
                input.prodCatalogSection__selectList.prodCatalogSection__selectList-big.prodCatalogSection__selectList-input(type="text" placeholder="Search Stones...")
        .prodCatalogSection__cards.prodCatalogCards
            p.prodCatalogCards__count
                span 237 
                | stones found
            ul.prodCatalogCards__list
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-1.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | DESERT BLOOM
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $39 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-2.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | Grey
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $45 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-3.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | Brown Quarz
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $45 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-4.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | DESERT BLOOM
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $45 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-5.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | DESERT BLOOM
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $45 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap.prodCatalogCards__imgWrap-special
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-6.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | Wite Smoke
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $45 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap.prodCatalogCards__imgWrap-special
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-7.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | Golden
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $49 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-8.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | Beige Desert
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $49 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-9.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | DESERT BLOOM
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $49 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap.prodCatalogCards__imgWrap-special
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-10.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | Brown Grey
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $59 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-11.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | DESERT BLOOM
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $59 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
                li.prodCatalogCards__item
                    .prodCatalogCards__imgWrap
                        img.prodCatalogCards__img(src="static/img/content/prodCatalog/prodCatalog__img-12.jpg" alt="")
                        span.prodCatalogCards__specialMark
                            | special
                    h3.prodCatalogCards__itemHeading
                        | White
                    ul.prodCatalogCards__itemSpecs
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                        li.prodCatalogCards__itemSpec
                            <i class="fas fa-dollar-sign"></i>
                            span.prodCatalogCards__itemPrice
                                | $59 
                            span
                                | / square feet
                    .prodCatalogCards__rateWrap
                        .prodCatalogCards__starsList
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-full
                            .prodCatalogCards__star.prodCatalogCards__star-half
                            .prodCatalogCards__star.prodCatalogCards__star-empty
                        sup.prodCatalogCards__rateNum
                            | 3.5
               
                
        .prodCatalogSection__foo
            p.prodCatalogSection__stonesNum
                | stones shown:
                span
                    | 12 of 237
            a.prodCatalogSection__btn.btn(href="#")
                | load more
