section.bulkBannerSection
    .bulkBannerSection__inner
        b.bulkBannerSection__lead
            | Are You a Contractor? 
            br
            | Buy in Bulk!
        p.bulkBannerSection__text
            | Contractors, find out how to save money with Granite Selection by buying in bulk through our expansive and affordable bundles and Volume Discount Pricing programs.
        a.bulkBannerSection__link.link(href="#")
            | Learn More
            span →