
section.prodInnerGalSection
    .prodInnerGalSection__slider.prodInnerGalSlider
        .prodInnerGalSlider__sliderWrap
            .prodInnerGalSlider__slider
                .prodInnerGalSlider__item
                    .prodInnerGalSlider__itemInner
                        .prodInnerGalSlider__imgWrap
                            a.prodInnerGalSlider__imgLink#jsLargeImgLink-1(data-lightbox="prodInnerGalSlider__img-1" data-title="cygnus" href="static/img/content/prodInnerGal/prodInnerGalSlider__img-1.jpg")
                                img.prodInnerGalSlider__img(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-1.jpg" alt="" id="jsLargeImg-1")
                                <i class="fas fa-search"></i>
                            ul.prodInnerGalSlider__imgList#jsThumbs-1
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink.prodInnerGalSlider__imgThumbLink-checked(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-1.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-1.jpg" alt="")
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-1-1.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-1-1.jpg" alt="")
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-1-2.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-1-2.jpg" alt="")
                        .prodInnerGalSlider__textWrap
                            input.prodInnerGalSlider__radio(type="radio" id="specs-1" name="prodInnerGalSlider__silverstone-1" checked)
                            label.prodInnerGalSlider__label(for="specs-1")
                                | specifications
                            input.prodInnerGalSlider__radio(type="radio" id="descr-1" name="prodInnerGalSlider__silverstone-1")
                            label.prodInnerGalSlider__label(for="descr-1")
                                | description
                            input.prodInnerGalSlider__radio(type="radio" id="revs-1" name="prodInnerGalSlider__silverstone-1")
                            label.prodInnerGalSlider__label(for="revs-1")
                                | reviews
                                .prodInnerGalSlider__labelRate
                                    .prodInnerGalSlider__labelRateStars
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-half
                                    sup.prodInnerGalSlider__labelRateNum
                                        | 2
                            .prodInnerGalSlider__radioWrap
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-specs1
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    ul.prodInnerGalSlider__specsList
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-dollar-sign"></i>
                                            span Price: $39
                                            | / square feet
                                            sup
                                                | *price does not include edges, installation labor and sink
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-boxes"></i>
                                            span Stone Type:
                                                a(href="#")
                                                    | cygnus
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-palette"></i>
                                            span Primary Colors:
                                                a(href="#")
                                                    | Gray, Silver
                                    p.prodInnerGalSlider__specsDescr
                                        | NSF Certified®  |  Greenguard Indoor Air Quality Certified®
                                    p.prodInnerGalSlider__specsMoreInfo
                                        | Need more info?
                                        a.prodInnerGalSlider__specsMoreInfoLink.link(href="#")
                                            | Ask a question
                                            span →
                                    .prodInnerGalSlider__specBtns
                                        a.prodInnerGalSlider__specLink.btn(href="#")
                                            | Quote Your Project
                                        .prodInnerGalSlider__specSocials
                                            | SHARE Product:
                                            ul.prodInnerGalSlider__specSocialsList
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fas fa-envelope"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-twitter"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-facebook"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-pinterest-square"></i>
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-descr1
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-revs1
                                    .prodInnerGalSlider__revsWrap
                                        p.prodInnerGalSlider__revsNum
                                            span
                                                | 12
                                            | Product Reviews
                                        ul.prodInnerGalSlider__revsList
                                            li.prodInnerGalSlider__revsItem
                                                b.prodInnerGalSlider__revsName
                                                    | Farrokh Rastegar
                                                .prodInnerGalSlider__revsRate
                                                    .prodInnerGalSlider__revsRateStars
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-empty
                                                    sup.prodInnerGalSlider__revsRateNum
                                                        | 4
                                                p.prodInnerGalSlider__revsText
                                                    | This company has some of the best prices per grade of granite. Period. Only reason I don't say the absolute best prices is because I haven't researched all places. But if there's a cheaper place, I haven't found it.
                                            li.prodInnerGalSlider__revsItem
                                                b.prodInnerGalSlider__revsName
                                                    | Farrokh Rastegar
                                                .prodInnerGalSlider__revsRate
                                                    .prodInnerGalSlider__revsRateStars
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                    sup.prodInnerGalSlider__revsRateNum
                                                        | 5
                                                p.prodInnerGalSlider__revsText
                                                    | This company has some of the best prices per grade of granite. Period. Only reason I don't say the absolute best prices is because I haven't researched all places. But if there's a cheaper place, I haven't found it.
                                        a.prodInnerGalSlider__revsLink.link(href="#")
                                            | More Reviews
                                            span →
                                                    
                                    .prodInnerGalSlider__specBtns
                                        a.prodInnerGalSlider__specLink.btn(href="#")
                                            | Write review
                                        .prodInnerGalSlider__specSocials
                                            | SHARE Product:
                                            ul.prodInnerGalSlider__specSocialsList
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fas fa-envelope"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-twitter"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-facebook"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-pinterest-square"></i>
                .prodInnerGalSlider__item
                    .prodInnerGalSlider__itemInner
                        .prodInnerGalSlider__imgWrap
                            a.prodInnerGalSlider__imgLink#jsLargeImgLink-2(data-lightbox="prodInnerGalSlider__img-2" data-title="silverstone" href="static/img/content/prodInnerGal/prodInnerGalSlider__img-2.jpg")
                                img.prodInnerGalSlider__img(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-2.jpg" alt="" id="jsLargeImg-2")
                                <i class="fas fa-search"></i>
                            ul.prodInnerGalSlider__imgList#jsThumbs-2
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink.prodInnerGalSlider__imgThumbLink-checked(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-2.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-2.jpg" alt="")
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-2-1.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-2-1.jpg" alt="")
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-2-2.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-2-2.jpg" alt="")
                        .prodInnerGalSlider__textWrap
                            input.prodInnerGalSlider__radio(type="radio" id="specs-2" name="prodInnerGalSlider__silverstone-2" checked)
                            label.prodInnerGalSlider__label(for="specs-2")
                                | specifications
                            input.prodInnerGalSlider__radio(type="radio" id="descr-2" name="prodInnerGalSlider__silverstone-2")
                            label.prodInnerGalSlider__label(for="descr-2")
                                | description
                            input.prodInnerGalSlider__radio(type="radio" id="revs-2" name="prodInnerGalSlider__silverstone-2")
                            label.prodInnerGalSlider__label(for="revs-2")
                                | reviews
                                .prodInnerGalSlider__labelRate
                                    .prodInnerGalSlider__labelRateStars
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-half
                                    sup.prodInnerGalSlider__labelRateNum
                                        | 2
                            .prodInnerGalSlider__radioWrap
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-specs2
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    ul.prodInnerGalSlider__specsList
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-dollar-sign"></i>
                                            span Price: $39
                                            | / square feet
                                            sup
                                                | *price does not include edges, installation labor and sink
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-boxes"></i>
                                            span Stone Type:
                                                a(href="#")
                                                    | silverstone
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-palette"></i>
                                            span Primary Colors:
                                                a(href="#")
                                                    | Gray, Silver
                                    p.prodInnerGalSlider__specsDescr
                                        | NSF Certified®  |  Greenguard Indoor Air Quality Certified®
                                    p.prodInnerGalSlider__specsMoreInfo
                                        | Need more info?
                                        a.prodInnerGalSlider__specsMoreInfoLink.link(href="#")
                                            | Ask a question
                                            span →
                                    .prodInnerGalSlider__specBtns
                                        a.prodInnerGalSlider__specLink.btn(href="#")
                                            | Quote Your Project
                                        .prodInnerGalSlider__specSocials
                                            | SHARE Product:
                                            ul.prodInnerGalSlider__specSocialsList
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fas fa-envelope"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-twitter"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-facebook"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-pinterest-square"></i>
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-descr2
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-revs2
                                    .prodInnerGalSlider__revsWrap
                                        p.prodInnerGalSlider__revsNum
                                            span
                                                | 12
                                            | Product Reviews
                                        ul.prodInnerGalSlider__revsList
                                            li.prodInnerGalSlider__revsItem
                                                b.prodInnerGalSlider__revsName
                                                    | Farrokh Rastegar
                                                .prodInnerGalSlider__revsRate
                                                    .prodInnerGalSlider__revsRateStars
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-empty
                                                    sup.prodInnerGalSlider__revsRateNum
                                                        | 4
                                                p.prodInnerGalSlider__revsText
                                                    | This company has some of the best prices per grade of granite. Period. Only reason I don't say the absolute best prices is because I haven't researched all places. But if there's a cheaper place, I haven't found it.
                                            li.prodInnerGalSlider__revsItem
                                                b.prodInnerGalSlider__revsName
                                                    | Farrokh Rastegar
                                                .prodInnerGalSlider__revsRate
                                                    .prodInnerGalSlider__revsRateStars
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                    sup.prodInnerGalSlider__revsRateNum
                                                        | 5
                                                p.prodInnerGalSlider__revsText
                                                    | This company has some of the best prices per grade of granite. Period. Only reason I don't say the absolute best prices is because I haven't researched all places. But if there's a cheaper place, I haven't found it.
                                        a.prodInnerGalSlider__revsLink.link(href="#")
                                            | More Reviews
                                            span →
                                                    
                                    .prodInnerGalSlider__specBtns
                                        a.prodInnerGalSlider__specLink.btn(href="#")
                                            | Write review
                                        .prodInnerGalSlider__specSocials
                                            | SHARE Product:
                                            ul.prodInnerGalSlider__specSocialsList
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fas fa-envelope"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-twitter"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-facebook"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-pinterest-square"></i>
                .prodInnerGalSlider__item
                    .prodInnerGalSlider__itemInner
                        .prodInnerGalSlider__imgWrap
                            a.prodInnerGalSlider__imgLink#jsLargeImgLink-3(data-lightbox="prodInnerGalSlider__img-3" data-title="kensho" href="static/img/content/prodInnerGal/prodInnerGalSlider__img-3.jpg")
                                img.prodInnerGalSlider__img(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-3.jpg" alt="" id="jsLargeImg-3")
                                <i class="fas fa-search"></i>
                            ul.prodInnerGalSlider__imgList#jsThumbs-3
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink.prodInnerGalSlider__imgThumbLink-checked(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-3.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-3.jpg" alt="")
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-3-1.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-3-1.jpg" alt="")
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-3-2.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-3-2.jpg" alt="")
                        .prodInnerGalSlider__textWrap
                            input.prodInnerGalSlider__radio(type="radio" id="specs-3" name="prodInnerGalSlider__silverstone-3" checked)
                            label.prodInnerGalSlider__label(for="specs-3")
                                | specifications
                            input.prodInnerGalSlider__radio(type="radio" id="descr-3" name="prodInnerGalSlider__silverstone-3")
                            label.prodInnerGalSlider__label(for="descr-3")
                                | description
                            input.prodInnerGalSlider__radio(type="radio" id="revs-3" name="prodInnerGalSlider__silverstone-3")
                            label.prodInnerGalSlider__label(for="revs-3")
                                | reviews
                                .prodInnerGalSlider__labelRate
                                    .prodInnerGalSlider__labelRateStars
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-half
                                    sup.prodInnerGalSlider__labelRateNum
                                        | 2
                            .prodInnerGalSlider__radioWrap
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-specs3
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    ul.prodInnerGalSlider__specsList
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-dollar-sign"></i>
                                            span Price: $39
                                            | / square feet
                                            sup
                                                | *price does not include edges, installation labor and sink
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-boxes"></i>
                                            span Stone Type:
                                                a(href="#")
                                                    | kensho
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-palette"></i>
                                            span Primary Colors:
                                                a(href="#")
                                                    | Gray, Silver
                                    p.prodInnerGalSlider__specsDescr
                                        | NSF Certified®  |  Greenguard Indoor Air Quality Certified®
                                    p.prodInnerGalSlider__specsMoreInfo
                                        | Need more info?
                                        a.prodInnerGalSlider__specsMoreInfoLink.link(href="#")
                                            | Ask a question
                                            span →
                                    .prodInnerGalSlider__specBtns
                                        a.prodInnerGalSlider__specLink.btn(href="#")
                                            | Quote Your Project
                                        .prodInnerGalSlider__specSocials
                                            | SHARE Product:
                                            ul.prodInnerGalSlider__specSocialsList
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fas fa-envelope"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-twitter"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-facebook"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-pinterest-square"></i>
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-descr3
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-revs3
                                    .prodInnerGalSlider__revsWrap
                                        p.prodInnerGalSlider__revsNum
                                            span
                                                | 12
                                            | Product Reviews
                                        ul.prodInnerGalSlider__revsList
                                            li.prodInnerGalSlider__revsItem
                                                b.prodInnerGalSlider__revsName
                                                    | Farrokh Rastegar
                                                .prodInnerGalSlider__revsRate
                                                    .prodInnerGalSlider__revsRateStars
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-empty
                                                    sup.prodInnerGalSlider__revsRateNum
                                                        | 4
                                                p.prodInnerGalSlider__revsText
                                                    | This company has some of the best prices per grade of granite. Period. Only reason I don't say the absolute best prices is because I haven't researched all places. But if there's a cheaper place, I haven't found it.
                                            li.prodInnerGalSlider__revsItem
                                                b.prodInnerGalSlider__revsName
                                                    | Farrokh Rastegar
                                                .prodInnerGalSlider__revsRate
                                                    .prodInnerGalSlider__revsRateStars
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                    sup.prodInnerGalSlider__revsRateNum
                                                        | 5
                                                p.prodInnerGalSlider__revsText
                                                    | This company has some of the best prices per grade of granite. Period. Only reason I don't say the absolute best prices is because I haven't researched all places. But if there's a cheaper place, I haven't found it.
                                        a.prodInnerGalSlider__revsLink.link(href="#")
                                            | More Reviews
                                            span →
                                                    
                                    .prodInnerGalSlider__specBtns
                                        a.prodInnerGalSlider__specLink.btn(href="#")
                                            | Write review
                                        .prodInnerGalSlider__specSocials
                                            | SHARE Product:
                                            ul.prodInnerGalSlider__specSocialsList
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fas fa-envelope"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-twitter"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-facebook"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-pinterest-square"></i>
                .prodInnerGalSlider__item
                    .prodInnerGalSlider__itemInner
                        .prodInnerGalSlider__imgWrap
                            a.prodInnerGalSlider__imgLink#jsLargeImgLink-4(data-lightbox="prodInnerGalSlider__img-4" data-title="cygnus" href="static/img/content/prodInnerGal/prodInnerGalSlider__img-4.jpg")
                                img.prodInnerGalSlider__img(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-4.jpg" alt="" id="jsLargeImg-4")
                                <i class="fas fa-search"></i>
                            ul.prodInnerGalSlider__imgList#jsThumbs-4
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink.prodInnerGalSlider__imgThumbLink-checked(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-4.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-4.jpg" alt="")
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-4-1.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-4-1.jpg" alt="")
                                li.prodInnerGalSlider__imgItem
                                    a.prodInnerGalSlider__imgThumbLink(href="static/img/content/prodInnerGal/prodInnerGalSlider__img-4-2.jpg")
                                        img.prodInnerGalSlider__imgThumb(src="static/img/content/prodInnerGal/prodInnerGalSlider__img-4-2.jpg" alt="")
                        .prodInnerGalSlider__textWrap
                            input.prodInnerGalSlider__radio(type="radio" id="specs-4" name="prodInnerGalSlider__silverstone-4" checked)
                            label.prodInnerGalSlider__label(for="specs-4")
                                | specifications
                            input.prodInnerGalSlider__radio(type="radio" id="descr-4" name="prodInnerGalSlider__silverstone-4")
                            label.prodInnerGalSlider__label(for="descr-4")
                                | description
                            input.prodInnerGalSlider__radio(type="radio" id="revs-4" name="prodInnerGalSlider__silverstone-4")
                            label.prodInnerGalSlider__label(for="revs-4")
                                | reviews
                                .prodInnerGalSlider__labelRate
                                    .prodInnerGalSlider__labelRateStars
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-full
                                        .prodInnerGalSlider__labelStar.prodInnerGalSlider__labelStar-half
                                    sup.prodInnerGalSlider__labelRateNum
                                        | 2
                            .prodInnerGalSlider__radioWrap
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-specs4
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    ul.prodInnerGalSlider__specsList
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-dollar-sign"></i>
                                            span Price: $39
                                            | / square feet
                                            sup
                                                | *price does not include edges, installation labor and sink
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-boxes"></i>
                                            span Stone Type:
                                                a(href="#")
                                                    | cygnus
                                        li.prodInnerGalSlider__specsItem
                                            <i class="fas fa-palette"></i>
                                            span Primary Colors:
                                                a(href="#")
                                                    | Gray, Silver
                                    p.prodInnerGalSlider__specsDescr
                                        | NSF Certified®  |  Greenguard Indoor Air Quality Certified®
                                    p.prodInnerGalSlider__specsMoreInfo
                                        | Need more info?
                                        a.prodInnerGalSlider__specsMoreInfoLink.link(href="#")
                                            | Ask a question
                                            span →
                                    .prodInnerGalSlider__specBtns
                                        a.prodInnerGalSlider__specLink.btn(href="#")
                                            | Quote Your Project
                                        .prodInnerGalSlider__specSocials
                                            | SHARE Product:
                                            ul.prodInnerGalSlider__specSocialsList
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fas fa-envelope"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-twitter"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-facebook"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-pinterest-square"></i>
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-descr4
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                    p.prodInnerGalSlider__specsDescr
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.  ipsum sapien. Interdum et males
                                .prodInnerGalSlider__text.prodInnerGalSlider__text-revs4
                                    .prodInnerGalSlider__revsWrap
                                        p.prodInnerGalSlider__revsNum
                                            span
                                                | 12
                                            | Product Reviews
                                        ul.prodInnerGalSlider__revsList
                                            li.prodInnerGalSlider__revsItem
                                                b.prodInnerGalSlider__revsName
                                                    | Farrokh Rastegar
                                                .prodInnerGalSlider__revsRate
                                                    .prodInnerGalSlider__revsRateStars
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-empty
                                                    sup.prodInnerGalSlider__revsRateNum
                                                        | 4
                                                p.prodInnerGalSlider__revsText
                                                    | This company has some of the best prices per grade of granite. Period. Only reason I don't say the absolute best prices is because I haven't researched all places. But if there's a cheaper place, I haven't found it.
                                            li.prodInnerGalSlider__revsItem
                                                b.prodInnerGalSlider__revsName
                                                    | Farrokh Rastegar
                                                .prodInnerGalSlider__revsRate
                                                    .prodInnerGalSlider__revsRateStars
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                        .prodInnerGalSlider__revsStar.prodInnerGalSlider__revsStar-full
                                                    sup.prodInnerGalSlider__revsRateNum
                                                        | 5
                                                p.prodInnerGalSlider__revsText
                                                    | This company has some of the best prices per grade of granite. Period. Only reason I don't say the absolute best prices is because I haven't researched all places. But if there's a cheaper place, I haven't found it.
                                        a.prodInnerGalSlider__revsLink.link(href="#")
                                            | More Reviews
                                            span →
                                                    
                                    .prodInnerGalSlider__specBtns
                                        a.prodInnerGalSlider__specLink.btn(href="#")
                                            | Write review
                                        .prodInnerGalSlider__specSocials
                                            | SHARE Product:
                                            ul.prodInnerGalSlider__specSocialsList
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fas fa-envelope"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-twitter"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-facebook"></i>
                                                li.prodInnerGalSlider__specSocialsItem
                                                    a.prodInnerGalSlider__specSocialsLink(href="#")
                                                        <i class="fab fa-pinterest-square"></i>
                

               
                //- .prodInnerGalSlider__item
                //-     .prodInnerGalSlider__itemInner
                //-         .prodInnerGalSlider__imgWrap
                //-             a.prodInnerGalSlider__imgLink(data-lightbox="remInnerGalSlider__img-3" data-title="kensho" href="static/img/content/remInnerGal/remInnerGalSlider__img-3.jpg")
                //-                 img.prodInnerGalSlider__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-3.jpg" alt="")
                //-                 <i class="fas fa-search"></i>
                //-         .prodInnerGalSlider__textWrap
                //-             .prodInnerGalSlider__labelWrap
                //-                 label.prodInnerGalSlider__label(for="specs-1")
                //-                     | specifications
                //-             .prodInnerGalSlider__radioWrap
                //-                 input.prodInnerGalSlider__radio(type="radio" id="specs-1" name="remInnerGalSlider__silverstone-1" checked)
                //-                 .prodInnerGalSlider__text
                //-                     ul.prodInnerGalSlider__specsList
                //-                         li.prodInnerGalSlider__specsItem
                //-                             <i class="fas fa-boxes"></i>
                //-                             span Stone Type:
                //-                             | kensho
                //-                         li.prodInnerGalSlider__specsItem
                //-                             <i class="fas fa-palette"></i>
                //-                             span Primary Colors:
                //-                             | Gray, Silver
                //-                         li.prodInnerGalSlider__specsItem
                //-                             <i class="fas fa-ruler-combined"></i>
                //-                             span Dimensions:
                //-                             | 23x38 in.
                //-                         li.prodInnerGalSlider__specsItem
                //-                             <i class="fas fa-arrows-alt-v"></i>
                //-                             span Thickness:
                //-                             | 3 in.
                //-                     p.prodInnerGalSlider__specsDescr
                //-                         | Remnant inventory changes on a daily, first-come-first-served basis. If you like a remnant, send us a request now and check for availability.
                //-                     .prodInnerGalSlider__specBtns
                //-                         a.prodInnerGalSlider__specLink.btn(href="#")
                //-                             | send remnant request
                //-                         a.prodInnerGalSlider__specLink.prodInnerGalSlider__specLink-link.link(href="#")
                //-                             | Ask a question
                //-                             span →
                //- .prodInnerGalSlider__item
                //-     .prodInnerGalSlider__itemInner
                //-         .prodInnerGalSlider__imgWrap
                //-             a.prodInnerGalSlider__imgLink(data-lightbox="remInnerGalSlider__img-4" data-title="cygnus" href="static/img/content/remInnerGal/remInnerGalSlider__img-4.jpg")
                //-                 img.prodInnerGalSlider__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-4.jpg" alt="")
                //-                 <i class="fas fa-search"></i>
                //-         .prodInnerGalSlider__textWrap
                //-             .prodInnerGalSlider__labelWrap
                //-                 label.prodInnerGalSlider__label(for="specs-1")
                //-                     | specifications
                //-             .prodInnerGalSlider__radioWrap
                //-                 input.prodInnerGalSlider__radio(type="radio" id="specs-1" name="remInnerGalSlider__silverstone-1" checked)
                //-                 .prodInnerGalSlider__text
                //-                     ul.prodInnerGalSlider__specsList
                //-                         li.prodInnerGalSlider__specsItem
                //-                             <i class="fas fa-boxes"></i>
                //-                             span Stone Type:
                //-                             | cygnus
                //-                         li.prodInnerGalSlider__specsItem
                //-                             <i class="fas fa-palette"></i>
                //-                             span Primary Colors:
                //-                             | Gray, Silver
                //-                         li.prodInnerGalSlider__specsItem
                //-                             <i class="fas fa-ruler-combined"></i>
                //-                             span Dimensions:
                //-                             | 23x38 in.
                //-                         li.prodInnerGalSlider__specsItem
                //-                             <i class="fas fa-arrows-alt-v"></i>
                //-                             span Thickness:
                //-                             | 3 in.
                //-                     p.prodInnerGalSlider__specsDescr
                //-                         | Remnant inventory changes on a daily, first-come-first-served basis. If you like a remnant, send us a request now and check for availability.
                //-                     .prodInnerGalSlider__specBtns
                //-                         a.prodInnerGalSlider__specLink.btn(href="#")
                //-                             | send remnant request
                //-                         a.prodInnerGalSlider__specLink.prodInnerGalSlider__specLink-link.link(href="#")
                //-                             | Ask a question
                //-                             span →

    .prodInnerGalSection__controls.prodInnerGalControls
        .prodInnerGalControls__sliderWrap
            .prodInnerGalControls__slider
                .prodInnerGalControls__item
                    .prodInnerGalControls__itemInner
                        .prodInnerGalControls__imgWrap
                            img.prodInnerGalControls__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-1.jpg" alt="")
                        span.prodInnerGalControls__name
                            | cygnus
                .prodInnerGalControls__item
                    .prodInnerGalControls__itemInner
                        .prodInnerGalControls__imgWrap
                            img.prodInnerGalControls__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-2.jpg" alt="")
                        span.prodInnerGalControls__name
                            | silverstone
                .prodInnerGalControls__item
                    .prodInnerGalControls__itemInner
                        .prodInnerGalControls__imgWrap
                            img.prodInnerGalControls__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-3.jpg" alt="")
                        span.prodInnerGalControls__name
                            | kensho
                .prodInnerGalControls__item
                    .prodInnerGalControls__itemInner
                        .prodInnerGalControls__imgWrap
                            img.prodInnerGalControls__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-4.jpg" alt="")
                        span.prodInnerGalControls__name
                            | cygnus
            .prodInnerGalControls__btnWrap
                button.prodInnerGalControls__btn.prodInnerGalControls__btn-prev(type="button")
                    span previous stone
                button.prodInnerGalControls__btn.prodInnerGalControls__btn-next(type="button")
                    span next stone