.prodInnerGalSection {
    font: 400 16px/2 "SourceSansPro", sans-serif;
    color: $darkgrey-3;
}

.prodInnerGalControls__slider .slick-current {display: none;}

.prodInnerGalControls {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: relative;
}

.prodInnerGalControls__sliderWrap {
    position: relative;

    @media (min-width: $grid-lm) {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 100px;
    }
}

.prodInnerGalControls__slider {
}

.prodInnerGalControls__itemInner {
    padding: 44px 5px 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    cursor: pointer;

    background-color: $white;

    @media (min-width: $grid-ls) {
        padding: 44px 100px 24px;
    }

    @media (min-width: $grid-lm) {
        padding: 24px 0;
    }
}

.prodInnerGalControls__btn {
    display: block;

    width: 50%;
    border: none;
    padding: 0;

    position: absolute;
    top: 0;
    bottom: 0;

    background: transparent;
    transition: .3s;

    &-prev {
        border-right: 1px solid rgba($lightgrey-1, .5); 

        left: 0;
        right: 50%;

        &:hover {
            background: linear-gradient(to left, rgba($darkgrey-3, .05), rgba($white, .05));
        }

        span {
            padding: 0 0 0 30px;

            text-align: left;

            &::before {
                content: "";

                display: block;

                width: 24px;
                height: 24px;

                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);

                background: url("../img/content/remInnerGal/chevronLeft.svg") no-repeat center center;
                background-size: contain;
            }
        }
    }

    &-next {
        border-left: 1px solid rgba($lightgrey-1, .5); 

        left: 50%;
        right: 0;

        &:hover {
            background: linear-gradient(to right, rgba($darkgrey-3, .05), rgba($white, .05));
        }

        span {
            padding: 0 30px 0 0;

            text-align: right;

            &::before {
                content: "";

                display: block;

                width: 24px;
                height: 24px;

                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);

                background: url("../img/content/remInnerGal/chevronRight.svg") no-repeat center center;
                background-size: contain;
            }
        }
    }

    span {
        width: 93.75%;

        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);

        font: 700 14px/1 "BrandonGrotesque", sans-serif;
        color: rgba($darkgrey-1, .5);
        text-transform: uppercase;
        letter-spacing: 0.4px;

        @media (min-width: $grid-ls) {
            width: auto;
        }

        @media (min-width: $grid-lm) {
            left: auto;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.prodInnerGalControls__btn {
    &-prev {
        span {
            @media (min-width: $grid-lm) {
                left: 100px;
            }
        }
    }
    
    &-next {
        span {
            @media (min-width: $grid-lm) {
                right: 100px;
            }
        }
    }
}

.prodInnerGalControls__imgWrap {
    width: 32px;
    height: 32px;

    display: inline-block;

    @media (min-width: $grid-sl) {
        margin: 0 16px 0 0;
    }
}

.prodInnerGalControls__img {
    width: 32px;
    height: 32px;
}

.prodInnerGalControls__name {
    font: 700 18px/1.3 "BrandonGrotesque", sans-serif;
    color: $darkgrey-1;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.prodInnerGalSlider {
    background-color: rgba($darkgrey-3, .05);
}

.prodInnerGalSlider__sliderWrap {
    padding: 40px 30px;

    @media (min-width: $grid-ls) {
        max-width: 1440px;
        margin: 0 auto;
        padding: 50px 100px;
    }
}

.prodInnerGalSlider__itemInner {
    @media (min-width: $grid-ls) {
        display: flex;
        justify-content: space-between;
    }
}

.prodInnerGalSlider__imgWrap {
    margin: 0 0 20px;

    @media (min-width: $grid-ls) {
        width: 45%;
        
        flex: 0 0 auto;
    }
}

.prodInnerGalSlider__imgLink {
    display: block;
    
    width: 100%;

    position: relative;

    overflow: hidden;

    &::before {
        content: "";

        display: block;

        padding-top: 70%;
    }

    i {
        display: none;

        width: 40px;
        height: 40px;

        position: absolute;
        top: 16px;
        right: 16px;

        font-size: 16px;
        color: $white;
        text-align: center;

        background-color: $orange-1;
        border-radius: 50%;
    }

    &:hover {
        i {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.prodInnerGalSlider__img {
    width: 100%;

    position: absolute;
    top: 0;
}

.prodInnerGalSlider__textWrap {
    @media (min-width: $grid-ls) {
        width: 50%;

        flex: 0 0 auto;
    }
} 

.prodInnerGalSlider__text {
    display: none;

    margin: 30px 0 0;

    position: relative;

    &::before {
        content: "";

        display: block;

        height: 2px;

        position: absolute;
        top: -30px;
        left: 0;
        right: 0;

        background-color: rgba($darkgrey-1, .05);
    }
}

.prodInnerGalSlider__labelWrap {
    border-bottom: 2px solid rgba($darkgrey-1, .05);
}

.prodInnerGalSlider__label {
    padding: 17px 0;

    display: inline-block;

    position: relative;

    font: 700 18px/1 "BrandonGrotesque", sans-serif;
    text-transform: uppercase;
    color: rgba($darkgrey-1, .3);
    letter-spacing: 0.5px;

    &:not(only-of-type) {
        margin: 0 5% 0 0;
    }

    &::after {
        content: "";

        display: none;

        width: 100%;
        height: 4px;

        position: absolute;
        bottom: -1px;
        left: 0;

        background-color: $orange-1;
    }
}

.prodInnerGalSlider__labelRate {
    display: inline-flex;
}

.prodInnerGalSlider__labelRateStars {
    margin: 0 0 0 12px;

    display: flex;
}

.prodInnerGalSlider__labelStar {
    width: 15px;
    height: 15px;
    margin: 0 2px 0 0;

    &-full {
        background: url("../img/content/prodInnerGal/starFull.svg") no-repeat center center;
        background-size: contain;
    }
    
    &-half {
        background: url("../img/content/prodInnerGal/starHalf.svg") no-repeat center center;
        background-size: contain;
    }

    &-empty {
        background: url("../img/content/prodInnerGal/starEmpty.svg") no-repeat center center;
        background-size: contain;
    }
}

.prodInnerGalSlider__labelRateNum {
    font: 700 12px/1 "SourceSansPro", sans-serif;
    color: $darkgrey-3;
    text-transform: uppercase;
}

.prodInnerGalSlider__radio {
    display: none;

    &:checked {
        & + .prodInnerGalSlider__label {
            color: rgba($darkgrey-1, 1);
        }

        & + .prodInnerGalSlider__label::after {
            display: block;
        }
    }

    &#specs-1:checked {
        ~ .prodInnerGalSlider__radioWrap .prodInnerGalSlider__text-specs1 {
            display: block;
        }
    }

    &#descr-1:checked {
        ~ .prodInnerGalSlider__radioWrap .prodInnerGalSlider__text-descr1 {
            display: block;
        }
    }

    &#revs-1:checked {
        ~ .prodInnerGalSlider__radioWrap .prodInnerGalSlider__text-revs1 {
            display: block;
        }
    }
}

.prodInnerGalSlider__specsList {
    margin: 0 0 16px;
    padding: 0;

    list-style: none;
}

.prodInnerGalSlider__specsItem {
    font: 400 16px/2 "SourceSansPro", sans-serif;
    color: $darkgrey-3;

    i {
        width: 25px;
        margin: 0 5px 0 0;

        font-size: 16px;
        color: rgba($darkgrey-1, .3);
    }

    span {
        margin: 0 5px 0 0;
        
        font-weight: 700;

        a {
            margin: 0 0 0 5px;

            font: inherit;
            text-decoration: none;
            color: $blue-1;

            transition: .3s;

            &:hover {
                opacity: .5;
            }
        }
    }

    sup {
        margin: 0 0 0 8px;

        font: 400 12px/2 "SourceSansPro", sans-serif;
        color: rgba($darkgrey-3, .5);
    }
}

.prodInnerGalSlider__specsDescr {
    max-width: 500px;
    margin: 0 0 15px;
}

.prodInnerGalSlider__specsMoreInfo {
    font: 700 16px/2 "SourceSansPro", sans-serif;
    color: $darkgrey-3;
}

.prodInnerGalSlider__specsMoreInfoLink {
    margin: 0 0 0 8px;

    font: 700 14px/2 "BrandonGrotesque", sans-serif;
    color: $blue-1;
    text-transform: uppercase;
}

.prodInnerGalSlider__specLink {
    padding: 18px 30px;

    &-link {
        display: inline-block;

        font: 700 14px/2 "BrandonGrotesque", sans-serif;
        text-transform: uppercase;
        color: $blue-1;

        @media (min-width: $grid-sl) {
            margin: 0 0 0 10px;
        }
    }
}

.prodInnerGalSlider__specSocials {
    margin: 0 0 0 30px;
    padding: 16px 0 0;

    display: inline-flex;
    align-items: center;

    font: 700 12px/1 "BrandonGrotesque", sans-serif;
    color: $darkgrey-1;
    text-transform: uppercase;
}

.prodInnerGalSlider__specSocialsList {
    margin: 0;
    padding: 0;

    display: inline-flex;

    vertical-align: top;

    list-style: none;
}

.prodInnerGalSlider__specSocialsItem {
    margin: 0 0 0 16px;


}

.prodInnerGalSlider__specSocialsLink {
    font-size: 20px;
    color: rgba($darkgrey-1, .3);

    transition: .3s;

    &:hover {
        color: rgba($darkgrey-1, .8);
    }
}

.prodInnerGalSlider__imgList {
    margin: 18px 0 0;
    padding: 0 3px;

    display: flex;
    justify-content: space-between;

    list-style: none;
}

.prodInnerGalSlider__imgItem {
    width: 31%;

    flex: 0 0 auto;
}

.prodInnerGalSlider__imgThumbLink {
    display: block;

    position: relative;

    &::before {
        content: "";

        display: block;

        padding-top: 100%;
    }

    &-checked {
        &::after {
            content: "";

            display: block;

            position: absolute;
            top: -3px;
            right: -3px;
            bottom: -3px;
            left: -3px;

            border: 3px solid $orange-1;
        }
    }
}

.prodInnerGalSlider__imgThumb {
    height: 100%;

    position: absolute;
    top: 0;
}

.prodInnerGalSlider__revsNum {
    font: 400 16px/2 "SourceSansPro", sans-serif;
    color: $darkgrey-3;

    span {
        margin: 0 8px 0 0;
    }
}

.prodInnerGalSlider__revsList {
    margin: 16px 0 0;
    padding: 0;

    list-style: none;
}

.prodInnerGalSlider__revsItem {
    margin: 0 0 24px;
}

.prodInnerGalSlider__revsName {
    margin: 0 24px 0 0;

    font: 600 16px/2 "SourceSansPro", sans-serif;
    color: $darkgrey-1;
}

.prodInnerGalSlider__revsRate {
    display: inline-flex;
}

.prodInnerGalSlider__revsRateStars {
    display: flex;
}

.prodInnerGalSlider__revsStar {
    width: 15px;
    height: 15px;
    margin: 0 2px 0 0;

    &-full {
        background: url("../img/content/prodInnerGal/starFull.svg") no-repeat center center;
        background-size: contain;
    }
    
    &-half {
        background: url("../img/content/prodInnerGal/starHalf.svg") no-repeat center center;
        background-size: contain;
    }

    &-empty {
        background: url("../img/content/prodInnerGal/starEmpty.svg") no-repeat center center;
        background-size: contain;
    }
}

.prodInnerGalSlider__revsRateNum {
    font: 700 12px/1 "SourceSansPro", sans-serif;
    color: $darkgrey-3;
    text-transform: uppercase;
}

.prodInnerGalSlider__revsText {
    margin: 5px 0 0;

    font: 400 14px/1.6 "SourceSansPro", sans-serif;
    color: rgba($darkgrey-1, .7);
}

.prodInnerGalSlider__revsLink {
    display: block;

    margin: 0 0 40px;

    font: 700 14px/2 "BrandonGrotesque", sans-serif;
    color: $blue-1;
    text-transform: uppercase;
}