doctype html
html(class="no-js", lang="en")

    include ../components/head/head

    head
        +head(head.defaults)
    body
        |%=symbols=%

        include ../components/header/header.pug

        main.pageContent

            include ../components/revsSliderSection/revsSliderSection.pug

            include ../components/revsRateBannerSection/revsRateBannerSection.pug

            include ../components/bannerKitchenSection/bannerKitchenSection.pug

            include ../components/articlesSliderSection/articlesSliderSection.pug

            include ../components/teamDescrSlider/teamDescrSlider.pug

            include ../components/eBookPresentSection/eBookPresentSection.pug

            include ../components/contactFormSection/contactFormSection.pug

        include ../components/footer/footer.pug

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        script(src='%=static=%js/separate-js/jquery-3.2.1.min.js')
        script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(src='%=static=%js/main%=hash=%%=min=%.js')
