doctype html
html(class="no-js", lang="en")

    include ../components/head/head

    head
        +head(head.defaults)
    body
        |%=symbols=%

        include ../components/header/header.pug

        main.pageContent

            -
                var what = "catalog"
                var imgPath = "static/img/content/remnantsHead/remnantsHead__bgr.jpg"
                var remnantsHeadPath = {
                    heading: "<span class='pageHeadSection__stoneHeading'>remnants sale</span>",
                    list: ["Home", "Remnants sale"]
                }
                var remnantsHeadContent = {
                    lead: "We have 2,000+ granite and quartz remnants in stock!",
                    text: "<span>At a leader in natural and fabricated stone countertops, we install hundreds of perfectly measured and cut kitchen and bathroom countertops every year. With all that business comes an excess of high-quality stone remnants.</span><span>Remnants are a cost effective, eco-friendly choice for a wide variety of smaller projects like vanities, fireplace surrounds and Islands. We have hundreds of granite, marbel, quartz and other natural stone leftover material available in our stock. If you need a smaller piece of natural stone for your project, then choose from the inventory below.</span>",
                    foo: "Call us at today at 888-906-3317!",
                    bannerLead: " GRANITE AND QUARTZ <br> REMNANTS SALE <br> STARTS FROM $26 PER sq.ft "
                }

            include ../components/pageHeadSection/pageHeadSection.pug
            +pageHead__mixin(what, imgPath, remnantsHeadPath, remnantsHeadContent)



            include ../components/productsSliderSection/productsSliderSection.pug
            -
                var remnantsReleatedSliderHeading = "Related Gray Expo Silestone Remnants"
                var remnantsReleatedSliderBgr = "#ffffff"
                //- {img, isSpecial, heading, specs, btns, stars}
                var remnantsReleatedSliderSlideList = [
                    {
                        img: "static/img/content/remnantsPageReleatedSlider/remnantsPageReleatedSlider__img-1.jpg",
                        isSpecial: false,
                        heading: "100x100 Steller Gray MSI Q Quartz Remnant",
                        specs: ["<i class='fas fa-ruler-combined'></i>23x38 in.", "<i class='fas fa-boxes'></i>MSI Q Quartz"],
                        btns: true
                    },
                    {
                        img: "static/img/content/remnantsPageReleatedSlider/remnantsPageReleatedSlider__img-2.jpg",
                        isSpecial: false,
                        heading: "100x100 Steller Gray MSI Q Quartz Remnant",
                        specs: ["<i class='fas fa-ruler-combined'></i>23x38 in.", "<i class='fas fa-boxes'></i>MSI Q Quartz"],
                        btns: true
                    },
                    {
                        img: "static/img/content/remnantsPageReleatedSlider/remnantsPageReleatedSlider__img-3.jpg",
                        isSpecial: false,
                        heading: "100x100 Steller Gray MSI Q Quartz Remnant",
                        specs: ["<i class='fas fa-ruler-combined'></i>23x38 in.", "<i class='fas fa-boxes'></i>MSI Q Quartz"],
                        btns: true
                    },
                    {
                        img: "static/img/content/remnantsPageReleatedSlider/remnantsPageReleatedSlider__img-4.jpg",
                        isSpecial: false,
                        heading: "100x100 Steller Gray MSI Q Quartz Remnant",
                        specs: ["<i class='fas fa-ruler-combined'></i>23x38 in.", "<i class='fas fa-boxes'></i>MSI Q Quartz"],
                        btns: true
                    },
                    {
                        img: "static/img/content/remnantsPageReleatedSlider/remnantsPageReleatedSlider__img-5.jpg",
                        isSpecial: false,
                        heading: "100x100 Steller Gray MSI Q Quartz Remnant",
                        specs: ["<i class='fas fa-ruler-combined'></i>23x38 in.", "<i class='fas fa-boxes'></i>MSI Q Quartz"],
                        btns: true
                    }
                ]
                //- class for new js slider
                var remnantsReleatedSliderClass = "remnantsReleatedPageSlider"
            +productsSlider__mixin(remnantsReleatedSliderHeading, remnantsReleatedSliderBgr, remnantsReleatedSliderSlideList, remnantsReleatedSliderClass)

            -
                var remnantsSpecialsSliderHeading = "GRANITE & QUARTZ COUNTERTOP SPECIALS"
                var remnantsSpecialsSliderBgr = "#f5f9ff"
                //- {img, isSpecial, heading, specs, btns, stars}
                var remnantsSpecialsSliderSlideList = [
                    {
                        img: "static/img/content/remnantsPageSpecialsSlider/remnantsPageSpecialsSlider__img-1.jpg",
                        isSpecial: true,
                        heading: "Fossil Taupe",
                        specs: ["<i class='fas fa-boxes'></i>Silestone", "<i class='fas fa-dollar-sign'></i><span>$45</span> / square feet"],
                        stars: 4.5
                    },
                    {
                        img: "static/img/content/remnantsPageSpecialsSlider/remnantsPageSpecialsSlider__img-2.jpg",
                        isSpecial: true,
                        heading: "Mara Blanca",
                        specs: ["<i class='fas fa-boxes'></i>Silestone", "<i class='fas fa-dollar-sign'></i><span>$49</span> / square feet"],
                        stars: 4
                    },
                    {
                        img: "static/img/content/remnantsPageSpecialsSlider/remnantsPageSpecialsSlider__img-3.jpg",
                        isSpecial: true,
                        heading: "Chrome",
                        specs: ["<i class='fas fa-boxes'></i>Silestone", "<i class='fas fa-dollar-sign'></i><span>$45</span> / square feet"],
                        stars: 5
                    },
                    {
                        img: "static/img/content/remnantsPageSpecialsSlider/remnantsPageSpecialsSlider__img-4.jpg",
                        isSpecial: true,
                        heading: "lagoon",
                        specs: ["<i class='fas fa-boxes'></i>Silestone", "<i class='fas fa-dollar-sign'></i><span>$45</span> / square feet"],
                        stars: 3.4
                    },
                    {
                        img: "static/img/content/remnantsPageSpecialsSlider/remnantsPageSpecialsSlider__img-5.jpg",
                        isSpecial: true,
                        heading: "Mara Blanca",
                        specs: ["<i class='fas fa-boxes'></i>Silestone", "<i class='fas fa-dollar-sign'></i><span>$45</span> / square feet"],
                        stars: 4.4
                    }
                ]
                //- class for new js slider
                var remnantsSpecialsSliderClass = "remnantsPageSlider"
            +productsSlider__mixin(remnantsSpecialsSliderHeading, remnantsSpecialsSliderBgr, remnantsSpecialsSliderSlideList, remnantsSpecialsSliderClass)

            //- include ../components

        include ../components/footer/footer.pug

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        script(src='%=static=%js/separate-js/jquery-3.2.1.min.js')
        script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(src='%=static=%js/main%=hash=%%=min=%.js')
