section.howItWorksBanner
    .howItWorksBanner__inner
        h2.howItWorksBanner__heading.sectionHeading
            | How it Works
        ul.howItWorksBanner__list
            li.howItWorksBanner__item
                span
                    <i class="fas fa-mouse-pointer"></i>
                b.howItWorksBanner__lead
                    | 1. Choose
                p.howItWorksBanner__text
                    span
                        | Choose your remnant above
            li.howItWorksBanner__item
                span
                    <i class="fas fa-comment"></i>
                b.howItWorksBanner__lead
                    | 2. send request
                p.howItWorksBanner__text
                    span
                        | Send a request via website or give us a call for more information at
                    a.link(href="tel:888-906-3317")
                        | 888-906-3317
                    
            li.howItWorksBanner__item
                span
                    <i class="fas fa-box-open"></i>
                b.howItWorksBanner__lead
                    | 3. pick up
                p.howItWorksBanner__text
                    span
                        | Come to our office and pick up your remnant:
                    br
                    a.link(href="#")
                        | 1410 Jarvis Ave, Elk Grove Village,  IL 60007
                    
