.howItWorksBanner {
    position: relative;

    font: 400 16px/1.8 "SourceSansPro", sans-serif;
    color: $darkgrey-3;

    background: url("../img/content/howItWorks/howItWorks__bgr.png") no-repeat center center;
    background-size: cover;

    &::before {
        content: "";

        display: block;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;

        background-color: rgba(200, 207, 216, 0.1);
    }
}

.howItWorksBanner__inner {
    padding: 40px 10px;

    position: relative;
    z-index: 101;

    @media (min-width: $grid-ls) {
        max-width: 1440px;
        margin: 0 auto;
        padding: 80px 0 100px;
    }
}

.howItWorksBanner__heading {
    margin: 0 0 30px;

    color: $darkgrey-1;
    text-align: center;

    @media (min-width: $grid-ls) {
        margin: 0 0 40px;
    }
}

.howItWorksBanner__list {
    margin: 0;
    padding: 0;

    list-style: none;

    @media (min-width: $grid-ls) {
        display: flex;
        justify-content: center;
    }
}

.howItWorksBanner__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    text-align: center;

    &:not(:last-child) {
        margin: 0 0 30px;
    }

    & > span {
        width: 130px;
        height: 130px;

        display: block;

        position: relative;

        font-size: 40px;
        color: $white;

        background-color: $orange-1;
        border-radius: 50%;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @media (min-width: $grid-ls) {
        width: 30%;

        flex: 0 0 auto;

        &:not(:last-child) {
            &::after {
                content: "";

                display: block;

                width: 75px;
                height: 2px;

                position: absolute;
                top: 25%;
                right: 0;
                transform: translateX(50%);

                background-color: rgba($darkgrey-1, .2);
            }
        }
    }
}

.howItWorksBanner__lead {
    margin: 24px 0 8px;

    font: 700 18px/1.2 "BrandonGrotesque", sans-serif;
    color: $darkgrey-1;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.howItWorksBanner__text {
    max-width: 350px;
    margin: 0;

    a {
        margin: 0 0 0 5px;

        font: inherit;
        font-weight: 700;
        color: $blue-1;
    }
}