section.eBookPresentSection
    .eBookPresentSection__inner
        .eBookPresentSection__imgWrap
            img.eBookPresentSection__img(src="static/img/content/eBook/eBook__img.png" alt="")
        .eBookPresentSection__textWrap
            b.eBookPresentSection__lead
                | LOOKING TO RENOVATE YOUR KITCHEN?
            p.eBookPresentSection__text
                | A brand-new granite countertop is a great way to make your home more luxurious. Before you purchase your custom stone slabs, you will need to measure your countertop to determine the shape and size.
            .eBookPresentSection__btnWrap
                a.eBookPresentSection__btn.btn(href="#" download)
                    | Download E-Book
                a.eBookPresentSection__link.link(href="#")
                    | view all e-books
                    span →