section.bannerKitchenSection
    .bannerKitchenSection__inner
        b.bannerKitchenSection__lead
            | Design Your Kitchen
        p.bannerKitchenSection__text
            | The Kitchen Visualizer tool will help you to accurately imagine what our different countertop options will look like in your home. “Try-out” a variety of countertop options to see which best fits your personality, your needs, and your home.
        a.bannerKitchenSection__link.link(href="#")
            | start now
            span →