// SourceSansPro

@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro/SourceSansPro-Regular.woff");
}

@font-face {
    font-style: italic;
    font-weight: 400;
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro/SourceSansPro-Italic.woff");
}

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro/SourceSansPro-SemiBold.woff");
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro/SourceSansPro-Bold.woff");
}

// BrandonGrotesque

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "BrandonGrotesque";
    src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Medium.woff");
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "BrandonGrotesque";
    src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Bold.woff");
}