$grid-lm: 1280px;
$grid-ls: 960px;
$grid-sl: 768px;
$grid-sm: 480px;
$grid-s: 320px;

$white: #ffffff;
$lightgrey-1: #e3e3e3;
$lightgrey-2: #d8d8d8;
$lightgrey-3: #eaeaea;
$darkgrey-1: #22232d;
$darkgrey-2: #1e1e27;
$darkgrey-3: #333f4b;
$orange-1:#e5493a;
$blue-1: #1c70e8;
$lightblue-1:#f5f9ff;