section.remCatalogSection
    .remCatalogSection__inner
        .remCatalogSection__filters
            p.remCatalogSection__filtersItem
                span.remCatalogSection__filtersLabel
                    <i class="fas fa-filter"></i>
                    | filter
                select.remCatalogSection__selectList.remCatalogSection__selectList-big
                    option(value="MSI Q Quartz" selected)
                        | MSI Q Quartz
                    option(value="MSI Q Quartz1")
                        | MSI Q Quartz
                    option(value="MSI Q Quartz2")
                        | MSI Q Quartz
                    option(value="MSI Q Quartz3")
                        | MSI Q Quartz
                select.remCatalogSection__selectList.remCatalogSection__selectList-big
                    option(value="brown" selected)
                        | Brown
                    option(value="brown1")
                        | Brown
                    option(value="brown2")
                        | Brown
            p.remCatalogSection__filtersItem
                label.remCatalogSection__filtersLabel(for="remCatalogSection__minWidth")
                    <i class="fas fa-arrows-alt-v"></i>
                    | Min Width
                select.remCatalogSection__selectList#remCatalogSection__minWidth
                    option(value="23")
                        | 23 in.
                    option(value="27")
                        | 27 in.
                    option(value="30")
                        | 30 in.
            p.remCatalogSection__filtersItem
                label.remCatalogSection__filtersLabel(for="remCatalogSection__minLength")
                    <i class="fas fa-arrows-alt-h"></i>
                    | Min Length
                select.remCatalogSection__selectList#remCatalogSection__minLength
                    option(value="38")
                        | 38 in.
                    option(value="27")
                        | 23 in.
                    option(value="30")
                        | 23 in.
            p.remCatalogSection__attentionBanner
                | NOTE: Remnant inventory changes on a daily, first-come-first-served basis. If you like a remnant, send us a request now and check for availability.
                br
                | Not all the remnants are present on the website. Please visit our warehouse for more.
        .remCatalogSection__cards.remCatalogCards
            p.remCatalogCards__count
                span 237 
                | stones found
            ul.remCatalogCards__list
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-1.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-2.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-3.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-4.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-5.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-6.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-7.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-8.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-9.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-10.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-11.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                li.remCatalogCards__item
                    .remCatalogCards__imgWrap
                        img.remCatalogCards__img(src="static/img/content/remCatalog/remCatalog__img-12.jpg" alt="")
                    h3.remCatalogCards__itemHeading
                        | 23x38 Stellar Gray MSI Q Quartz Remnant
                    ul.remCatalogCards__itemSpecs
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-ruler-combined"></i>
                            span
                                | 23x38 in.
                        li.remCatalogCards__itemSpec
                            <i class="fas fa-boxes"></i>
                            span
                                | MSI Q Quartz
                    .remCatalogCards__btnWrap
                        a.remCatalogCards__btn(href="#")
                            | send request
                        a.remCatalogCards__btn(href="#")
                            | view
                            span
                                | →
                
        .remCatalogSection__foo
            p.remCatalogSection__stonesNum
                | stones shown:
                span
                    | 12 of 237
            a.remCatalogSection__btn.btn(href="#")
                | load more
