section.remInnerGalSection
    .remInnerGalSection__slider.remInnerGalSlider
        .remInnerGalSlider__sliderWrap
            .remInnerGalSlider__slider
                .remInnerGalSlider__item
                    .remInnerGalSlider__itemInner
                        .remInnerGalSlider__imgWrap
                            a.remInnerGalSlider__imgLink(data-lightbox="remInnerGalSlider__img-1" data-title="cygnus" href="static/img/content/remInnerGal/remInnerGalSlider__img-1.jpg")
                                img.remInnerGalSlider__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-1.jpg" alt="")
                                <i class="fas fa-search"></i>
                        .remInnerGalSlider__textWrap
                            .remInnerGalSlider__labelWrap
                                label.remInnerGalSlider__label(for="specs-1")
                                    | specifications
                            .remInnerGalSlider__radioWrap
                                input.remInnerGalSlider__radio(type="radio" id="specs-1" name="remInnerGalSlider__silverstone-1" checked)
                                .remInnerGalSlider__text
                                    ul.remInnerGalSlider__specsList
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-boxes"></i>
                                            span Stone Type:
                                            | cygnus
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-palette"></i>
                                            span Primary Colors:
                                            | Gray, Silver
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-ruler-combined"></i>
                                            span Dimensions:
                                            | 23x38 in.
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-arrows-alt-v"></i>
                                            span Thickness:
                                            | 3 in.
                                    p.remInnerGalSlider__specsDescr
                                        | Remnant inventory changes on a daily, first-come-first-served basis. If you like a remnant, send us a request now and check for availability.
                                    .remInnerGalSlider__specBtns
                                        a.remInnerGalSlider__specLink.btn(href="#")
                                            | send remnant request
                                        a.remInnerGalSlider__specLink.remInnerGalSlider__specLink-link.link(href="#")
                                            | Ask a question
                                            span →
                .remInnerGalSlider__item
                    .remInnerGalSlider__itemInner
                        .remInnerGalSlider__imgWrap
                            a.remInnerGalSlider__imgLink(data-lightbox="remInnerGalSlider__img-2" data-title="silverstone" href="static/img/content/remInnerGal/remInnerGalSlider__img-2.jpg")
                                img.remInnerGalSlider__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-2.jpg" alt="")
                                <i class="fas fa-search"></i>
                        .remInnerGalSlider__textWrap
                            .remInnerGalSlider__labelWrap
                                label.remInnerGalSlider__label(for="specs-1")
                                    | specifications
                            .remInnerGalSlider__radioWrap
                                input.remInnerGalSlider__radio(type="radio" id="specs-1" name="remInnerGalSlider__silverstone-1" checked)
                                .remInnerGalSlider__text
                                    ul.remInnerGalSlider__specsList
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-boxes"></i>
                                            span Stone Type:
                                            | silverstone
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-palette"></i>
                                            span Primary Colors:
                                            | Gray, Silver
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-ruler-combined"></i>
                                            span Dimensions:
                                            | 23x38 in.
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-arrows-alt-v"></i>
                                            span Thickness:
                                            | 3 in.
                                    p.remInnerGalSlider__specsDescr
                                        | Remnant inventory changes on a daily, first-come-first-served basis. If you like a remnant, send us a request now and check for availability.
                                    .remInnerGalSlider__specBtns
                                        a.remInnerGalSlider__specLink.btn(href="#")
                                            | send remnant request
                                        a.remInnerGalSlider__specLink.remInnerGalSlider__specLink-link.link(href="#")
                                            | Ask a question
                                            span →
                .remInnerGalSlider__item
                    .remInnerGalSlider__itemInner
                        .remInnerGalSlider__imgWrap
                            a.remInnerGalSlider__imgLink(data-lightbox="remInnerGalSlider__img-3" data-title="kensho" href="static/img/content/remInnerGal/remInnerGalSlider__img-3.jpg")
                                img.remInnerGalSlider__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-3.jpg" alt="")
                                <i class="fas fa-search"></i>
                        .remInnerGalSlider__textWrap
                            .remInnerGalSlider__labelWrap
                                label.remInnerGalSlider__label(for="specs-1")
                                    | specifications
                            .remInnerGalSlider__radioWrap
                                input.remInnerGalSlider__radio(type="radio" id="specs-1" name="remInnerGalSlider__silverstone-1" checked)
                                .remInnerGalSlider__text
                                    ul.remInnerGalSlider__specsList
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-boxes"></i>
                                            span Stone Type:
                                            | kensho
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-palette"></i>
                                            span Primary Colors:
                                            | Gray, Silver
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-ruler-combined"></i>
                                            span Dimensions:
                                            | 23x38 in.
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-arrows-alt-v"></i>
                                            span Thickness:
                                            | 3 in.
                                    p.remInnerGalSlider__specsDescr
                                        | Remnant inventory changes on a daily, first-come-first-served basis. If you like a remnant, send us a request now and check for availability.
                                    .remInnerGalSlider__specBtns
                                        a.remInnerGalSlider__specLink.btn(href="#")
                                            | send remnant request
                                        a.remInnerGalSlider__specLink.remInnerGalSlider__specLink-link.link(href="#")
                                            | Ask a question
                                            span →
                .remInnerGalSlider__item
                    .remInnerGalSlider__itemInner
                        .remInnerGalSlider__imgWrap
                            a.remInnerGalSlider__imgLink(data-lightbox="remInnerGalSlider__img-4" data-title="cygnus" href="static/img/content/remInnerGal/remInnerGalSlider__img-4.jpg")
                                img.remInnerGalSlider__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-4.jpg" alt="")
                                <i class="fas fa-search"></i>
                        .remInnerGalSlider__textWrap
                            .remInnerGalSlider__labelWrap
                                label.remInnerGalSlider__label(for="specs-1")
                                    | specifications
                            .remInnerGalSlider__radioWrap
                                input.remInnerGalSlider__radio(type="radio" id="specs-1" name="remInnerGalSlider__silverstone-1" checked)
                                .remInnerGalSlider__text
                                    ul.remInnerGalSlider__specsList
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-boxes"></i>
                                            span Stone Type:
                                            | cygnus
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-palette"></i>
                                            span Primary Colors:
                                            | Gray, Silver
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-ruler-combined"></i>
                                            span Dimensions:
                                            | 23x38 in.
                                        li.remInnerGalSlider__specsItem
                                            <i class="fas fa-arrows-alt-v"></i>
                                            span Thickness:
                                            | 3 in.
                                    p.remInnerGalSlider__specsDescr
                                        | Remnant inventory changes on a daily, first-come-first-served basis. If you like a remnant, send us a request now and check for availability.
                                    .remInnerGalSlider__specBtns
                                        a.remInnerGalSlider__specLink.btn(href="#")
                                            | send remnant request
                                        a.remInnerGalSlider__specLink.remInnerGalSlider__specLink-link.link(href="#")
                                            | Ask a question
                                            span →

    .remInnerGalSection__controls.remInnerGalControls
        .remInnerGalControls__sliderWrap
            .remInnerGalControls__slider
                .remInnerGalControls__item
                    .remInnerGalControls__itemInner
                        .remInnerGalControls__imgWrap
                            img.remInnerGalControls__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-1.jpg" alt="")
                        span.remInnerGalControls__name
                            | cygnus
                .remInnerGalControls__item
                    .remInnerGalControls__itemInner
                        .remInnerGalControls__imgWrap
                            img.remInnerGalControls__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-2.jpg" alt="")
                        span.remInnerGalControls__name
                            | silverstone
                .remInnerGalControls__item
                    .remInnerGalControls__itemInner
                        .remInnerGalControls__imgWrap
                            img.remInnerGalControls__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-3.jpg" alt="")
                        span.remInnerGalControls__name
                            | kensho
                .remInnerGalControls__item
                    .remInnerGalControls__itemInner
                        .remInnerGalControls__imgWrap
                            img.remInnerGalControls__img(src="static/img/content/remInnerGal/remInnerGalSlider__img-4.jpg" alt="")
                        span.remInnerGalControls__name
                            | cygnus
            .remInnerGalControls__btnWrap
                button.remInnerGalControls__btn.remInnerGalControls__btn-prev(type="button")
                    span previous stone
                button.remInnerGalControls__btn.remInnerGalControls__btn-next(type="button")
                    span next stone