header.header
    .header__roof.headerRoof.headerRoof-jsHide
        .headerRoof__inner
            ul.headerRoof__contacts
                li.headerRoof__contactItem
                    <i class="fas fa-map-marker-alt"></i>
                    | 1410&nbsp;Jarvis&nbsp;Ave, Elk&nbsp;Grove&nbsp;Village,  IL&nbsp;60007
                li.headerRoof__contactItem
                    <i class="footer__contactIco  footer__contactIco-phone  fas fa-phone"></i>
                    | (888)&nbsp;906-3317
            p.headerRoof__linkWrap
                //- temporary link
                a.headerRoof__link(href="remnants-inner.html")
                    | remnants sale
            - var headerRoof__socialsClass = "headerRoof__socials"
            include ../socials/socials.pug
            +socials__mixin(headerRoof__socialsClass)                  
    .header__nav.headerNav
        .headerNav__inner
            .headerNav__logoWrap
                a.headerNav__logoLink(href="index.html")
                    img.headerNav__logoImg(src="static/img/content/header/header__logo.svg" alt="" width="200" height="73")
            .headerNav__btnWrap
                button.headerNav__btn.headerNav__btn-open(type="button")
                button.headerNav__btn.headerNav__btn-close.headerNav__btn-jsHide(type="button")
            .headerNav__overlay.headerNav__overlay-jsHide
                span.headerNav__closeOverlay
            nav.headerNav__navWrap.headerNav__navWrap-jsHide
                ul.headerNav__navList
                    li.headerNav__navItem
                        a.headerNav__navLink(href="#")
                            | About
                    li.headerNav__navItem.headerNav__navItem-sub
                        a.headerNav__navLink.headerNav__navLink-popupStones(href="products.html")
                            | stones
                            span →
                        ul.headerNav__subList.headerNav__subList-jsHide
                            li.headerNav__subCol
                                b.headerNav__subLead
                                    | Your Countertop Type
                                ul.headerNav__subColList
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-1.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | GRANITE
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-2.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | MSI QUARTZ
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-3.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | SILESTONE
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-4.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | CAESARSTONE QUARTZ
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-5.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | MARBLE
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-6.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | QUARTZITE
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-7.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | TRAVERTINE
                                a.headerNav__subLink(href="products.html")
                                    | All types
                                    span →
                            li.headerNav__subCol
                                b.headerNav__subLead
                                    | Your Countertop color
                                ul.headerNav__subColList
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-8.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | white
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-9.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | grey
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-10.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | beige
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-11.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | brown
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-12.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | cream
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-13.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | black
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="static/img/content/header/headerNav__subMenuIco-14.png" alt="" width="20" height="20")
                                        a.headerNav__subItemText(href="products-inner.html")
                                            | golden
                                a.headerNav__subLink(href="products.html")
                                    | All types
                                    span →
                    li.headerNav__navItem
                        a.headerNav__navLink(href="#")
                            | cabinets
                    li.headerNav__navItem
                        a.headerNav__navLink(href="#")
                            | projects
                    li.headerNav__navItem
                        a.headerNav__navLink(href="remnants.html")
                            | specials
            a.headerNav__link.btn(href="#")
                | instant quote