header.header
    .header__roof.headerRoof
        .headerRoof__inner
            ul.headerRoof__contacts
                li.headerRoof__contactItem
                    <i class="fas fa-map-marker-alt"></i>
                    | 1410&nbsp;Jarvis&nbsp;Ave, Elk&nbsp;Grove&nbsp;Village,  IL&nbsp;60007
                li.headerRoof__contactItem
                    <i class="footer__contactIco  footer__contactIco-phone  fas fa-phone"></i>
                    | (888)&nbsp;906-3317
            p.headerRoof__linkWrap
                a.headerRoof__link(href="#")
                    | remnants sale
            - var headerRoof__socialsClass = "headerRoof__socials"
            include ../socials/socials.pug
            +socials__mixin(headerRoof__socialsClass)                  
    .header__nav.headerNav
        .headerNav__inner
            .headerNav__logoWrap
                a.headerNav__logoLink(href="index.html")
                    img.headerNav__logoImg(src="static/img/content/header/header__logo.svg" alt="" width="200" height="73")
            .headerNav__btnWrap
                button.headerNav__btn.headerNav__btn-open(type="button")
                button.headerNav__btn.headerNav__btn-close.headerNav__btn-jsHide(type="button")
            .headerNav__overlay
                span.headerNav__closeOverlay
            nav.headerNav__navWrap
                ul.headerNav__navList
                    li.headerNav__navItem
                        a.headerNav__navLink(href="#")
                            | About
                    li.headerNav__navItem
                        a.headerNav__navLink(href="#")
                            | stones
                        ul.headerNav__subList
                            li.headerNav__subCol
                                b.headerNav__subLead
                                    | Your Countertop Type
                                ul.headerNav__subColList
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | GRANITE
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | MSI QUARTZ
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | SILESTONE
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | CAESARSTONE QUARTZ
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | MARBLE
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | QUARTZITE
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | TRAVERTINE
                                a.headerNav__subLink(href="#")
                                    | All types
                                    span →
                            li.headerNav__subCol
                                b.headerNav__subLead
                                    | Your Countertop color
                                ul.headerNav__subColList
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | white
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | grey
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | beige
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | brown
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | cream
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | black
                                    li.headerNav__subColItem
                                        img.headerNav__subItemIco(src="" alt="")
                                        p.headerNav__subItemText
                                            | golden
                                a.headerNav__subLink(href="#")
                                    | All types
                                    span →
                    li.headerNav__navItem
                        a.headerNav__navLink(href="#")
                            | cabinets
                    li.headerNav__navItem
                        a.headerNav__navLink(href="#")
                            | projects
                    li.headerNav__navItem
                        a.headerNav__navLink(href="#")
                            | specials
            a.headerNav__link.btn(href="#")
                | instant quote