.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;

    transition: .3s;
}

.headerRoof {
    width: 80%;
    height: 100px;

    position: fixed;
    bottom: 0;
    left: 0;

    font: 600 14px/1.2 "SourceSansPro", sans-serif;
    color: rgba($white, .45);

    background-color: $darkgrey-1;
    transition: .3s;

    &-jsHide {
        display: none;

        @media (min-width: $grid-ls) {
            display: block;
        }
    }

    @media (min-width: $grid-sl) {
        width: 50%;
    }

    @media (min-width: $grid-ls) {
        width: 100%;
        height: 45px;

        position: static;
    }
    
    &-jsScroll {
        @media (min-width: $grid-ls) {
            display: none;
        }
    }
}

.headerRoof__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $grid-ls) {
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
        padding: 0 100px 0 470px;

        justify-content: flex-end;
        flex-direction: row;
    }
}

.headerRoof__contacts {
    display: none;

    @media (min-width: $grid-lm) {
        display: flex;
        flex-wrap: wrap;

        margin: 0;
        padding: 0;

        list-style: none;
    }
}

.headerRoof__contactItem {
    i {
        margin: 0 7px 0 0;

        color: rgba($white, .3);
    }

    @media (min-width: $grid-lm) {
        &:not(:last-child) {
            margin: 0 30px 0 0;
        }
    }
}

.footer__contactIco {
    &-phone {
        position: relative;
        transform: scaleX(-1);
    }
}

.headerRoof__linkWrap {
    margin: 15px;
    padding: 0 0 0 23px;

    position: relative;

    &::before {
        content: "";

        display: block;

        width: 18px;
        height: 18px;

        position: absolute;
        top: 0;
        left: 0;

        background: url("../img/content/header/headerRoof__stoneIco.svg") no-repeat center center;
    }

    @media (min-width: $grid-ls) {
        margin: 0 35px;

        flex: 0 0 auto;
    }
}

.headerRoof__link {
    font: 700 14px/1.2 "BrandonGrotesque", sans-serif;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5px;

    transition: .3s;

    &:hover,
    &:active {
        opacity: .5;
    }
}

.headerNav {
    font: 700 14px/1.2 "BrandonGrotesque", sans-serif;
    text-transform: uppercase;
    color: $darkgrey-1;
    letter-spacing: 0.4px;

    background-color: $white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.headerNav__inner {
    height: 100px;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: .3s;

    @media (min-width: $grid-ls) {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 100px 0 170px;

        &-jsScroll {
            height: 80px;
        }
    }
}

.headerNav__logoWrap {
    width: 63px;
    height: 73px;

    flex: 0 0 auto;

    overflow: hidden;

    @media (min-width: $grid-ls) {
        width: 200px;

        overflow: visible;

        &::before {
            content: "";

            display: block;

            width: 280px;

            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 99;

            transform: translateX(-35px) skewX(-25deg);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            background-color: $white;
        }
    }

    &-jsScroll {
        @media (min-width: $grid-ls) {
            &::before {
                width: 320px;
                transform: translateX(-50px) skewX(-25deg);
            }
        }
    }
}

.headerNav__logoLink {
    width: 200px;
    height: 73px;

    display: block;

    transition: .3s;

    &:hover,
    &:active {
        opacity: .3;
    }

    @media (min-width: $grid-ls) {
        position: relative;
        top: -20px;
        z-index: 101;

        &-jsScroll {
            width: 160px;
            height: 58px;

            top: 0;
            left: 25px;
        }
    }
}

.headerNav__btnWrap {
    width: 38px;
    height: 32px;

    @media (min-width: $grid-lm) {
        display: none;
    }
}

.headerNav__btn {
    padding: 0;
    border: none;

    position: relative;

    background-color: transparent;
    transition: .3s;

    &:hover,
    &:active {
        opacity: .3;
    }

    &-jsHide {
        display: none;
    }

    &-open {
        width: 38px;
        height: 24px;
        margin-top: 6px;

        box-shadow: 0 -4px 0px -2px $darkgrey-1;

        &::before {
            content: "";
            display: block;
            height: 2px;

            position: absolute;
            top: 50%;
            right: 2px;
            left: 2px;
            transform: translateY(-100%);

            background-color: $darkgrey-1;
        }

        &::after {
            content: "";
            display: block;
            width: 50%;
            height: 2px;

            position: absolute;
            bottom: 0px;
            left: 2px;

            background-color: $darkgrey-1;
        }
    }

    &-close {
        width: 32px;
        height: 32px;

        &::before {
            content: "";
            display: block;

            width: 45px;
            height: 2px;

            position: absolute;
            left: -5px;
            transform: rotate(45deg);

            background-color: $darkgrey-1;
        }

        &::after {
            content: "";
            display: block;

            width: 45px;
            height: 2px;

            position: absolute;
            left: -5px;
            transform: rotate(-45deg);

            background-color: $darkgrey-1;
        }
    }
}

.headerNav__link {
    padding: 18px 10px;

    @media (min-width: $grid-ls) {
        padding: 18px 30px;
    }
}

.headerNav__subList {
    margin: 0;
    padding: 0;

    position: relative;

    font-size: .8em;

    background-color: rgba($darkgrey-1, .05);
    list-style: none;

    @media (min-width: $grid-lm) {
        width: 520px;
        padding: 30px 50px 30px 30px;
        border-top: 4px solid $orange-1;

        display: flex;

        position: absolute;
        top: 100%;

        background-color: rgba($white, .98);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    }

    &-jsHide {
        display: none;
    }

    &::after {
        content: "";

        display: block;

        width: 85%;
        height: 1px;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        background-color: rgba($darkgrey-1, .05);
    }
}

.headerNav__subCol {
    padding: 30px 50px;

    position: relative;

    &:not(:last-child) {
        &::after {
            content: "";

            display: block;

            width: 85%;
            height: 1px;

            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            background-color: rgba($darkgrey-1, .05);

            @media (min-width: $grid-lm) {
                display: none;
            }
        }
    }

    @media (min-width: $grid-lm) {
        margin: 0 30px 0 0;
        padding: 0;

        flex: 0 0 auto;

    }
}

.headerNav__subLead {
    font: 700 13px/1.2 "BrandonGrotesque", sans-serif;
    color: rgba($darkgrey-1, .3);
    letter-spacing: 0.4px;
}

.headerNav__subColList {
    margin: 0;
    padding: 10px 20px;

    list-style: none;

    @media (min-width: $grid-lm) {
        padding: 10px 0;
    }
}

.headerNav__subColItem {
    display: flex;
    align-items: center;

    margin: 8px 0;
}

.headerNav__subItemIco {
    margin: 0 12px 0 0;
}

.headerNav__subItemText {
    margin: 0;

    font: 700 14px/1.2 "BrandonGrotesque", sans-serif;
    color: $darkgrey-1;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    text-decoration: none;

    transition: .3s;

    &:hover,
    &:active {
        opacity: .3;
    }
}

.headerNav__subLink {
    font: 600 13px/1.2 "SourceSansPro", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: $orange-1;

    transition: .3s;

    &:hover,
    &:active {
        opacity: .3;
    }

    span {
        margin: 0 0 0 8px;
    }
}

.headerNav__navWrap {
    width: 80%;
    border: {
        top: 1px solid rgba($darkgrey-1, .15);
    }

    position: fixed;
    top: 100px;
    bottom: 100px;
    left: 0;

    background-color: $white;
    overflow-y: auto;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.05);

    &-jsHide {
        display: none;

        @media (min-width: $grid-lm) {
            display: block;
        }
    }

    @media (min-width: $grid-sl) {
        width: 50%;
    }

    @media (min-width: $grid-ls) {
        width: 282px;

        top: 145px;
        bottom: 0;
        left: 100px;
    }

    @media (min-width: $grid-lm) {
        width: auto;
        border: none;

        position: static;

        box-shadow: none;
        overflow-y: visible;
    }

    &-jsScroll {
        @media (min-width: $grid-ls) {
            width: 322px;

            top: 80px;
            left: 100px;
        }
    }
}

.headerNav__navList {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    list-style: none;

    @media (min-width: $grid-lm) {
        flex-direction: row;
    }
}

.headerNav__navItem {
    &:not(:last-child) {
        .headerNav__navLink {
            &::after {
                content: "";

                display: block;

                width: 85%;
                height: 1px;

                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

                background-color: rgba($darkgrey-1, .1);

                @media (min-width: $grid-lm) {
                    display: none;
                }
            }

            &-popupStones { 
                @media (min-width: $grid-lm) {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    &-sub {
        position: relative;

        &:hover {
            @media (min-width: $grid-lm) {
                .headerNav__subList {
                    display: flex;
                }
            }
        }
    }
}

.headerNav__navLink {
    width: 100%;
    padding: 25px 0 25px 0;

    display: block;

    position: relative;

    font: inherit;
    color: $darkgrey-1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    transition: .1s;

    &:hover, 
    &:active {
        color: rgba($darkgrey-1, .3);
    }

    &-popupStones {
        span {
            margin: 2px 0 0 5px;

            position: absolute;
            transform: rotate(180deg);

            transition: .3s;

            @media (min-width: $grid-lm) {
                // display: none;
            }
        }
    }

    &-open {
        span {
            margin: 0 0 0 5px;

            transform: rotate(90deg);
        }
    }

    @media (min-width: $grid-lm) {
        padding: 15px;

        position: static;

        &::after {
            display: none;
        }
    }
}

.headerNav__overlay {
    width: 20%;

    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.4);
    transition: .3s;
    cursor: pointer;

    &:hover {
        opacity: .5;
    }

    &-jsHide {
        display: none;
    }

    @media (min-width: $grid-sl) {
        width: 50%;
    }

    @media (min-width: $grid-ls) {
        width: 100%;
        
        top: 145px;
    }

    @media (min-width: $grid-lm) {
        display: none;
    }

    &-jsScroll {
        @media (min-width: $grid-ls) {
            top: 80px;

            .headerNav__closeOverlay {
                left: 440px;
            }
        }
    }
}

.headerNav__closeOverlay {
    display: block;

    width: 30px;
    height: 30px;

    position: absolute;
    top: 20px;
    left: 15px;

    opacity: 1;

    &::before,
    &::after {
        content: "";

        width: 100%;
        height: 2px;

        display: block;

        position: absolute;
        top: 50%;
        left: 0;

        background-color: $orange-1;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    @media (min-width: $grid-ls) {
        left: 400px;
    }
}