mixin socials__mixin(socials__class)
    .socials(class=socials__class)
        ul.socials__list
            li.socials__item
                a.socials__link(href="#")
                    <i class="fab fa-twitter"></i>
            li.socials__item
                a.socials__link(href="#")
                    <i class="fab fa-facebook-f"></i>
            li.socials__item
                a.socials__link(href="#")
                    <i class="fab fa-linkedin-in"></i>
            li.socials__item
                a.socials__link(href="#")
                    <i class="fab fa-pinterest"></i>
            li.socials__item
                a.socials__link(href="#")
                    <i class="fab fa-houzz"></i>