section.projectsSliderSection
    .projectsSliderSection__inner
        .projectsSliderSection__head
            h2.projectsSliderSection__heading.sectionHeading
                | our projects
            a.projectsSliderSection__link.btn(href="#")
                | see all projects
        .projectsSliderSection__slider.projectsSlider
            .projectsSlider__inner
                .projectsSlider__slide
                    .projectsSlider__imgWrap
                        img.projectsSlider__img(src="static/img/content/projectsSlider/projectsSlider__img-1.jpg" alt="")
                    .projectsSlider__descr
                        .projectsSlider__textWrap
                            h3.projectsSlider__itemHeading
                                | Black Pearl Granite Project in Des Plaines, IL
                            ul.projectsSlider__specsList
                                li.projectsSlider__specsItem
                                    <i class="far fa-square"></i>
                                    b.projectsSlider__specName
                                        | Square foot: 
                                    span.projectsSlider__specVal
                                        | 68 sq. feet
                                li.projectsSlider__specsItem
                                    <i class="fas fa-boxes"></i>
                                    b.projectsSlider__specName
                                        | Type of Granite: 
                                    span.projectsSlider__specVal
                                        | Black Pearl
                                li.projectsSlider__specsItem
                                    <i class="fas fa-layer-group"></i>
                                    b.projectsSlider__specName
                                        | Edge: 
                                    span.projectsSlider__specVal
                                        | Standard eased edge
                                li.projectsSlider__specsItem
                                    <i class="fas fa-map-marker-alt"></i>
                                    b.projectsSlider__specName
                                        | Location: 
                                    span.projectsSlider__specVal
                                        | Des Plaines, IL
                        a.projectsSlider__slideLink(href="#")
                            | View Project
                            span →
                .projectsSlider__slide
                    .projectsSlider__imgWrap
                        img.projectsSlider__img(src="static/img/content/projectsSlider/projectsSlider__img-1.jpg" alt="")
                    .projectsSlider__descr
                        .projectsSlider__textWrap
                            h3.projectsSlider__itemHeading
                                | Black Pearl Granite Project in Des Plaines, IL
                            ul.projectsSlider__specsList
                                li.projectsSlider__specsItem
                                    <i class="far fa-square"></i>
                                    b.projectsSlider__specName
                                        | Square foot: 
                                    span.projectsSlider__specVal
                                        | 68 sq. feet
                                li.projectsSlider__specsItem
                                    <i class="fas fa-boxes"></i>
                                    b.projectsSlider__specName
                                        | Type of Granite: 
                                    span.projectsSlider__specVal
                                        | Black Pearl
                                li.projectsSlider__specsItem
                                    <i class="fas fa-layer-group"></i>
                                    b.projectsSlider__specName
                                        | Edge: 
                                    span.projectsSlider__specVal
                                        | Standard eased edge
                                li.projectsSlider__specsItem
                                    <i class="fas fa-map-marker-alt"></i>
                                    b.projectsSlider__specName
                                        | Location: 
                                    span.projectsSlider__specVal
                                        | Des Plaines, IL
                        a.projectsSlider__slideLink(href="#")
                            | View Project
                            span →
                .projectsSlider__slide
                    .projectsSlider__imgWrap
                        img.projectsSlider__img(src="static/img/content/projectsSlider/projectsSlider__img-1.jpg" alt="")
                    .projectsSlider__descr
                        .projectsSlider__textWrap
                            h3.projectsSlider__itemHeading
                                | Black Pearl Granite Project in Des Plaines, IL
                            ul.projectsSlider__specsList
                                li.projectsSlider__specsItem
                                    <i class="far fa-square"></i>
                                    b.projectsSlider__specName
                                        | Square foot: 
                                    span.projectsSlider__specVal
                                        | 68 sq. feet
                                li.projectsSlider__specsItem
                                    <i class="fas fa-boxes"></i>
                                    b.projectsSlider__specName
                                        | Type of Granite: 
                                    span.projectsSlider__specVal
                                        | Black Pearl
                                li.projectsSlider__specsItem
                                    <i class="fas fa-layer-group"></i>
                                    b.projectsSlider__specName
                                        | Edge: 
                                    span.projectsSlider__specVal
                                        | Standard eased edge
                                li.projectsSlider__specsItem
                                    <i class="fas fa-map-marker-alt"></i>
                                    b.projectsSlider__specName
                                        | Location: 
                                    span.projectsSlider__specVal
                                        | Des Plaines, IL
                        a.projectsSlider__slideLink(href="#")
                            | View Project
                            span →
                .projectsSlider__slide
                    .projectsSlider__imgWrap
                        img.projectsSlider__img(src="static/img/content/projectsSlider/projectsSlider__img-1.jpg" alt="")
                    .projectsSlider__descr
                        .projectsSlider__textWrap
                            h3.projectsSlider__itemHeading
                                | Black Pearl Granite Project in Des Plaines, IL
                            ul.projectsSlider__specsList
                                li.projectsSlider__specsItem
                                    <i class="far fa-square"></i>
                                    b.projectsSlider__specName
                                        | Square foot: 
                                    span.projectsSlider__specVal
                                        | 68 sq. feet
                                li.projectsSlider__specsItem
                                    <i class="fas fa-boxes"></i>
                                    b.projectsSlider__specName
                                        | Type of Granite: 
                                    span.projectsSlider__specVal
                                        | Black Pearl
                                li.projectsSlider__specsItem
                                    <i class="fas fa-layer-group"></i>
                                    b.projectsSlider__specName
                                        | Edge: 
                                    span.projectsSlider__specVal
                                        | Standard eased edge
                                li.projectsSlider__specsItem
                                    <i class="fas fa-map-marker-alt"></i>
                                    b.projectsSlider__specName
                                        | Location: 
                                    span.projectsSlider__specVal
                                        | Des Plaines, IL
                        a.projectsSlider__slideLink(href="#")
                            | View Project
                            span →
            button.projectsSlider__btn.projectsSlider__btn-prev(type="button")
            button.projectsSlider__btn.projectsSlider__btn-next(type="button")
            
