section.pageHeadSection
    .pageHeadSection__inner
        //- .pageHeadSection__pathWrap for inner
        .pageHeadSection__textWrap
            b.pageHeadSection__lead
                | OVER 14,000 SLABS IN STOCK
            p.pageHeadSection__text
                | The Largest Selection of Kitchen Granite, Marbel and Quartz Countertop Stones in Chicagoland
            .pageHeadSection__btnWrap
                a.pageHeadSection__btn.btn(href="#")
                    | View Stones
                    span →
                a.pageHeadSection__videoBtn(href="#")