section.faqSection
    .faqSection__inner
        .faqSection__head
            h2.faqSection__heading.sectionHeading
                | remnants faq
            a.faqSection__link.link(href="#")#faqExpandLink-js
                | expand all answres
        ul.faqSection__questionsList#faqQuestionsList-js
            li.faqSection__questionsItem
                input.faqSection__questionsCheckbox#faqQuestion-1(type="checkbox")
                label.faqSection__questionsLabel(for="faqQuestion-1")
                    span
                    b What are Stone Remnants (Granite and Quartz)?
                .faqSection__answer
                    .faqSection__answerImgWrap
                        img.faqSection__answerImg(src="static/img/content/faq/faqSection__img-1.jpg" alt="")
                    p.faqSection__answerText
                        span 
                            | Granite and Quartz remnants are a great way to add a little class to your home without emptying out your pocketbook. Here are 8 stylish and easy to execute uses for stone remnants that you can add to your home this weekend.
                        a.link(href="#")
                            | continue reading
                            span → 
            li.faqSection__questionsItem
                input.faqSection__questionsCheckbox#faqQuestion-2(type="checkbox")
                label.faqSection__questionsLabel(for="faqQuestion-2")
                    span
                    b What Can be the Size and Color for the Remnants?
                .faqSection__answer
                    .faqSection__answerImgWrap
                        img.faqSection__answerImg(src="static/img/content/faq/faqSection__img-2.jpg" alt="")
                    p.faqSection__answerText
                        span 
                            | Granite and Quartz remnants are a great way to add a little class to your home without emptying out your pocketbook. Here are 8 stylish and easy to execute uses for stone remnants that you can add to your home this weekend.
                        a.link(href="#")
                            | continue reading
                            span → 
            li.faqSection__questionsItem
                input.faqSection__questionsCheckbox#faqQuestion-3(type="checkbox")
                label.faqSection__questionsLabel(for="faqQuestion-3")
                    span
                    b How You May Use Stone Remnants (Granite and Quartz)?
                .faqSection__answer
                    .faqSection__answerImgWrap
                        img.faqSection__answerImg(src="static/img/content/faq/faqSection__img-3.jpg" alt="")
                    p.faqSection__answerText
                        span 
                            | Granite and Quartz remnants are a great way to add a little class to your home without emptying out your pocketbook. Here are 8 stylish and easy to execute uses for stone remnants that you can add to your home this weekend.
                        a.link(href="#")
                            | continue reading
                            span → 
            li.faqSection__questionsItem
                input.faqSection__questionsCheckbox#faqQuestion-4(type="checkbox")
                label.faqSection__questionsLabel(for="faqQuestion-4")
                    span
                    b How May Granite Remnants Save You Money? 
                .faqSection__answer
                    .faqSection__answerImgWrap
                        img.faqSection__answerImg(src="static/img/content/faq/faqSection__img-4.jpg" alt="")
                    p.faqSection__answerText
                        span 
                            | Granite and Quartz remnants are a great way to add a little class to your home without emptying out your pocketbook. Here are 8 stylish and easy to execute uses for stone remnants that you can add to your home this weekend.
                        a.link(href="#")
                            | continue reading
                            span → 
            li.faqSection__questionsItem
                input.faqSection__questionsCheckbox#faqQuestion-5(type="checkbox")
                label.faqSection__questionsLabel(for="faqQuestion-5")
                    span
                    b How to Choose Natural Stone Remnants?
                .faqSection__answer
                    .faqSection__answerImgWrap
                        img.faqSection__answerImg(src="static/img/content/faq/faqSection__img-5.jpg" alt="")
                    p.faqSection__answerText
                        span 
                            | Granite and Quartz remnants are a great way to add a little class to your home without emptying out your pocketbook. Here are 8 stylish and easy to execute uses for stone remnants that you can add to your home this weekend.
                        a.link(href="#")
                            | continue reading
                            span → 

        