section.faqSection
    .faqSection__inner
        //- .faqSection__head
        //-     h2.faqSection__heading
        //-         | remnants faq
        //-     a.faqSection__link
        //-         | expand all answres
        