section.templateContent.content
    .templateContent__inner
        h2.templateContent__pageLead.sectionHeading
            | YOUR GRANITE COUNTERTOP INSTALLATION COMPANY IN CHICAGO
        .templateContent__textWrap
            h3.templateContent__heading.sectionHeading
                | OUR HISTORY
            p.templateContent__text
                | Located in Elk Grove Village, IL, Granite Selection specializes in natural stone distribution, design, fabrication and installation of fine custom granite countertops, marble vanities, shower walls, and fireplace surrounds. Our reputation for quality work at affordable prices brings us tremendous business through referrals from our satisfied customers. Check out our Projects page for examples of our work.
            a.templateContent__link.link(href="#")
                | Learn More
                span →
        .templateContent__textWrap
            h3.templateContent__heading.sectionHeading
                | WHY PEOPLE CHOOSE US
            ul.templateContent__list
                li.templateContent__item
                    | Digital laser template and estimate
                li.templateContent__item
                    | Precision digital water jet CNC manufacturing
                li.templateContent__item
                    | Professional installation
                li.templateContent__item
                    | A 15-year sealer application, edging, and a single bowl sink and sink cutout.
                li.templateContent__item
                    | Awesome online customer reviews. We guarantee that you will be impressed working with our Chicago granite countertop installers.
            a.templateContent__link.link(href="#")
                | Learn More
                span →
        .templateContent__textWrap
            h3.templateContent__heading.sectionHeading
                | BEST PRICE ON GRANITE COUNTERTOPS IN CHICAGO
            p.templateContent__text
                | At Granite Selection, we are able to sell exquisite granite at affordable prices through our close partnership with local suppliers. Our supplier partnerships know that we take great pride in our work and craftsmanship and they understand that, when they work with us, they are working with a qualified company who takes their business very seriously.
            a.templateContent__link.link(href="#")
                | Learn More
                span →
        
        