section.onlyRateSection
    ul.onlyRateSection__list
            li.onlyRateSection__item
                .onlyRateSection__itemHead
                    a.onlyRateSection__logoWrap(href="#")
                        img.onlyRateSection__logo(src="static/img/content/onlyRate/onlyRate__googleLogo.png" alt="")
                    .onlyRateSection__rateWrap
                        .onlyRateSection__stars
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-half
                        sup.onlyRateSection__rate
                            | 4.6
            li.onlyRateSection__item
                .onlyRateSection__itemHead
                    a.onlyRateSection__logoWrap(href="#")
                        img.onlyRateSection__logo(src="static/img/content/onlyRate/onlyRate__yelpLogo.png" alt="")
                    .onlyRateSection__rateWrap
                        .onlyRateSection__stars
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-empty
                        sup.onlyRateSection__rate
                            | 4.0
            li.onlyRateSection__item
                .onlyRateSection__itemHead
                    a.onlyRateSection__logoWrap(href="#")
                        img.onlyRateSection__logo(src="static/img/content/onlyRate/onlyRate__facebookLogo.png" alt="")
                    .onlyRateSection__rateWrap
                        .onlyRateSection__stars
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-full
                            span.onlyRateSection__star.onlyRateSection__star-full
                        sup.onlyRateSection__rate
                            | 5.0
            li.onlyRateSection__item
                .onlyRateSection__itemHead
                    a.onlyRateSection__logoWrap(href="#")
                        img.onlyRateSection__logo(src="static/img/content/onlyRate/onlyRate__bbbLogo.png" alt="")