section.presPostBannerSection
    .presPostBannerSection__inner
        .presPostBannerSection__imgWrap
            img.presPostBannerSection__img(src="static/img/content/presPostBanner/presPostBanner__photo.jpg" alt="")
        .presPostBannerSection__textWrap
            p.presPostBannerSection__text
                | We specialize in quarts and other natural stones. Our services range from precise measurement to professional quartz slab fabrication and in-home installation. We continuously strive to provide outstanding customer service and promise to only install the highest quality quartz, marble or granite countertops in your home.
            b.presPostBannerSection__name
                | Paul, President