section.articlesSliderSection
    .articlesSliderSection__inner
        .articlesSliderSection__head
            .articlesSliderSection__headText
                h2.articlesSliderSection__heading.sectionHeading
                    | Recent Articles 
                b.articlesSliderSection__lead
                    | On Natural Stone Countertops Selection and Maintenance
            a.articlesSliderSection__btn.btn(href="#")
                | read our blog
        .articlesSliderSection__slider.articlesSlider
            .articlesSlider__sliderInner
                .articlesSlider__slide
                    .articlesSlider__imgWrap
                        img.articlesSlider__img(src="static/img/content/articlesSlider/articlesSlider__postImg-1.jpg" alt="")
                    .articlesSlider__textWrap
                        h3.articlesSlider__postHeading
                            | Post Title 1
                        p.articlesSlider__postText
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
                        a.articlesSlider__postLink.link(href="#")
                            | read more
                            span →
                .articlesSlider__slide
                    .articlesSlider__imgWrap
                        img.articlesSlider__img(src="static/img/content/articlesSlider/articlesSlider__postImg-2.jpg" alt="")
                    .articlesSlider__textWrap
                        h3.articlesSlider__postHeading
                            | Post Title 2
                        p.articlesSlider__postText
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
                        a.articlesSlider__postLink.link(href="#")
                            | read more
                            span →
                .articlesSlider__slide
                    .articlesSlider__imgWrap
                        img.articlesSlider__img(src="static/img/content/articlesSlider/articlesSlider__postImg-3.jpg" alt="")
                    .articlesSlider__textWrap
                        h3.articlesSlider__postHeading
                            | Post Title 3
                        p.articlesSlider__postText
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
                        a.articlesSlider__postLink.link(href="#")
                            | read more
                            span →
                .articlesSlider__slide
                    .articlesSlider__imgWrap
                        img.articlesSlider__img(src="static/img/content/articlesSlider/articlesSlider__postImg-4.jpg" alt="")
                    .articlesSlider__textWrap
                        h3.articlesSlider__postHeading
                            | Post Title 4
                        p.articlesSlider__postText
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
                        a.articlesSlider__postLink.link(href="#")
                            | read more
                            span →
            .articlesSlider__controls
                button.articlesSlider__btn.articlesSlider__btn-prev(type="button")
                button.articlesSlider__btn.articlesSlider__btn-next(type="button")