section.teamDescrSlider
    .teamDescrSlider__inner
        .teamDescrSlider__head
            b.teamDescrSlider__lead.sectionHeading
                | Your Granite Countertop Installation Company in Chicago
            .teamDescrSlider__headSlider.headSlider
                .headSlider__slide
                    p.headSlider__text
                        | 01. OUR HISTORY
                .headSlider__slide
                    p.headSlider__text
                        | 02. WHY PEOPLE CHOOSE US
                .headSlider__slide
                    p.headSlider__text
                        | 03. BEST PRICES
            .teamDescrSlider__controls
                button.teamDescrSlider__btn.teamDescrSlider__btn-prev
                button.teamDescrSlider__btn.teamDescrSlider__btn-next
        .teamDescrSlider__mainSliderWrap.teamSlider
            .teamSlider__slide
                .teamSlider__slideInner
                    .teamSlider__imgWrap
                        img.teamSlider__img(src="static/img/content/teamDescr/teamDescrSlider__slideImg-1.jpg" alt="")
                    .teamSlider__textWrap
                        h3.teamSlider__slideHeading
                            <i class="far fa-clock"></i>
                            | 01. OUR HISTORY
                        p.teamSlider__text
                            | Located in Elk Grove Village, IL, Granite Selection specializes in natural stone distribution, design, fabrication and installation of fine custom granite countertops, marble vanities, shower walls, and fireplace surrounds. Our reputation for quality work at affordable prices brings us tremendous business through referrals from our satisfied customers. Check out our Projects page for examples of our work.
                        a.teamSlider__link.link(href="#")
                            | about us
                            span →
            .teamSlider__slide
                .teamSlider__slideInner
                    .teamSlider__imgWrap
                        img.teamSlider__img(src="static/img/content/teamDescr/teamDescrSlider__slideImg-2.jpg" alt="")
                    .teamSlider__textWrap
                        h3.teamSlider__slideHeading
                            <i class="fas fa-people-carry"></i>
                            | 02. WHY PEOPLE CHOOSE US
                        p.teamSlider__text
                            | Located in Elk Grove Village, IL, Granite Selection specializes in natural stone distribution, design, fabrication and installation of fine custom granite countertops, marble vanities, shower walls, and fireplace surrounds. Our reputation for quality work at affordable prices brings us tremendous business through referrals from our satisfied customers. Check out our Projects page for examples of our work.
                        a.teamSlider__link.link(href="#")
                            | about us
                            span →
            .teamSlider__slide
                .teamSlider__slideInner
                    .teamSlider__imgWrap
                        img.teamSlider__img(src="static/img/content/teamDescr/teamDescrSlider__slideImg-3.jpg" alt="")
                    .teamSlider__textWrap
                        h3.teamSlider__slideHeading
                            <i class="fas fa-dollar-sign"></i>
                            | 03. BEST PRICE ON GRANITE COUNTERTOPS IN CHICAGO
                        p.teamSlider__text
                            | Located in Elk Grove Village, IL, Granite Selection specializes in natural stone distribution, design, fabrication and installation of fine custom granite countertops, marble vanities, shower walls, and fireplace surrounds. Our reputation for quality work at affordable prices brings us tremendous business through referrals from our satisfied customers. Check out our Projects page for examples of our work.
                        a.teamSlider__link.link(href="#")
                            | about us
                            span →