section.contactFormSection
    .contactFormSection__head
        .contactFormSection__headInner
            b.contactFormSection__lead
                | Let Us Help You
            p.contactFormSection__text
                | Do you have questions about granite or quartz countertops in Chicago? 
                br
                | Request a free consultation or visit our office.
            a.contactFormSection__link.link(href="#")
                | contact us
                span →
    .contactFormSection__formWrap
        .contactFormSection__formInner
            form.contactFormSection__form.contactForm(action="" method="post")
                h2.contactForm__heading.sectionHeading
                    | Contact Us
                input.contactForm__input(type="text" name="fname" placeholder="Name")
                input.contactForm__input(type="email" name="email" placeholder="Email")
                input.contactForm__input(type="tel" name="phone" placeholder="Phone")
                textarea.contactForm__input.contactForm__input-area(name="msg" placeholder="Message")
                button.contactForm__btn.btn(type="submit")
                    | send message
                a.contactForm__mapBtn(title="open map" target="_blank" href="https://www.google.com/maps/place/1410+Jarvis+Ave,+Elk+Grove+Village,+IL+60007,+USA/@42.013462,-87.965142,17z/data=!4m5!3m4!1s0x880fb104fec99155:0x65d1f5007fe412f5!8m2!3d42.0134616!4d-87.9651421?hl=en-US")
                    img.contactForm__logo(src="static/img/content/contactForm/contactForm__logo.svg" alt="" width="128" height="47")
            .contactFormSection__mapWrap
                <iframe class="contactFormSection__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.387369887682!2d-87.9657965609981!3d42.01342172223893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fb104fec99155%3A0x65d1f5007fe412f5!2s1410+Jarvis+Ave%2C+Elk+Grove+Village%2C+IL+60007%2C+USA!5e0!3m2!1sen!2sru!4v1543073611648" frameborder="0" style="border:0" allowfullscreen></iframe>