section.approachSliderSection
    .approachSliderSection__inner
        h2.approachSliderSection__heading.sectionHeading
            | our approach
        .approachSliderSection__slidersWrap
            .approachSliderSection__controls
                button.approachSliderSection__btn.approachSliderSection__btn-prev(type="button")
                button.approachSliderSection__btn.approachSliderSection__btn-next(type="button")
            .approachSliderSection__headSlider.approachHeadSlider
                .approachHeadSlider__slide
                    b.approachHeadSlider__text
                        | Price
                .approachHeadSlider__slide
                    b.approachHeadSlider__text
                        | Selection
                .approachHeadSlider__slide
                    b.approachHeadSlider__text
                        | Quality
            .approachSliderSection__descrSlider.approachDescrSlider
                .approachDescrSlider__slide
                    .approachDescrSlider__slideInner
                        .approachDescrSlider__imgWrap(style="background: url('static/img/content/approachSlider/approachSlider__img-1.jpg') no-repeat center center; background-size: cover;")
                            span.approachDescrSlider__ico
                                <i class="fas fa-dollar-sign"></i>
                        .approachDescrSlider__textWrap
                            h3.approachDescrSlider__slideHeading
                                | price
                            ul.approachDescrSlider__list
                                li.approachDescrSlider__item
                                    p.approachDescrSlider__text
                                        | No Hidden Fees — Guaranteed
                                li.approachDescrSlider__item
                                    p.approachDescrSlider__text
                                        | We Offer The Best Prices For Granite, Marble nd Quarts Countertop Stones In Chicagoland
                                li.approachDescrSlider__item
                                    p.approachDescrSlider__text
                                        | As A Wholesaler, We Bypass Expensive Middlemen To Give You The Most Competitive Price
                            a.approachDescrSlider__link.link(href="#")
                                | See Specials
                                span →
                .approachDescrSlider__slide
                    .approachDescrSlider__slideInner
                        .approachDescrSlider__imgWrap(style="background: url('static/img/content/approachSlider/approachSlider__img-2.jpg') no-repeat center center; background-size: cover;")
                            span.approachDescrSlider__ico
                                <i class="fas fa-check"></i>
                        .approachDescrSlider__textWrap
                            h3.approachDescrSlider__slideHeading
                                | Selection
                            ul.approachDescrSlider__list
                                li.approachDescrSlider__item
                                    p.approachDescrSlider__text
                                        | We Carry Over 14,000 Unique Slabs Of Stone, In Over 400 Stone Colors, In Our Elk Grove Warehouse
                                li.approachDescrSlider__item
                                    p.approachDescrSlider__text
                                        | We have Over 1000 granite and quartz remnants in stock
                                li.approachDescrSlider__item
                                    p.approachDescrSlider__text
                                        | We Are Continuously Receiving New, Unique Stones
                                li.approachDescrSlider__item
                                    p.approachDescrSlider__text
                                        | Our Customers Have Access To The Most Notable Quartz Brands On The Market
                            a.approachDescrSlider__link.link(href="#")
                                | See stones
                                span →
                .approachDescrSlider__slide
                    .approachDescrSlider__slideInner
                        .approachDescrSlider__imgWrap(style="background: url('static/img/content/approachSlider/approachSlider__img-1.jpg') no-repeat center center; background-size: cover;")
                            span.approachDescrSlider__ico
                                <i class="fas fa-people-carry"></i>
                        .approachDescrSlider__textWrap
                            h3.approachDescrSlider__slideHeading
                                | Quality
                            ul.approachDescrSlider__list
                                li.approachDescrSlider__item
                                    p.approachDescrSlider__text
                                        | We have Over 1000 granite and quartz remnants in stock
                                li.approachDescrSlider__item
                                    p.approachDescrSlider__text
                                        | We Are Continuously Receiving New, Unique Stones
                            a.approachDescrSlider__link.link(href="#")
                                | see Quality
                                span →