section.revsRateBannerSection
    .revsRateBannerSection__inner
        ul.revsRateBannerSection__list
            li.revsRateBannerSection__item
                .revsRateBannerSection__itemHead
                    .revsRateBannerSection__logoWrap
                        img.revsRateBannerSection__logo(src="static/img/content/revsRate/revsRate__googleLogo.png" alt="")
                    .revsRateBannerSection__rateWrap
                        .revsRateBannerSection__stars
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-half
                        sup.revsRateBannerSection__rate
                            | 4.6
                a.revsRateBannerSection__link.link(href="#")
                    | 71 review
                    span →
            li.revsRateBannerSection__item
                .revsRateBannerSection__itemHead
                    .revsRateBannerSection__logoWrap
                        img.revsRateBannerSection__logo(src="static/img/content/revsRate/revsRate__yelpLogo.png" alt="")
                    .revsRateBannerSection__rateWrap
                        .revsRateBannerSection__stars
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-empty
                        sup.revsRateBannerSection__rate
                            | 4.0
                a.revsRateBannerSection__link.link(href="#")
                    | 20 reviews
                    span →
            li.revsRateBannerSection__item
                .revsRateBannerSection__itemHead
                    .revsRateBannerSection__logoWrap
                        img.revsRateBannerSection__logo(src="static/img/content/revsRate/revsRate__facebookLogo.png" alt="")
                    .revsRateBannerSection__rateWrap
                        .revsRateBannerSection__stars
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                            span.revsRateBannerSection__star.revsRateBannerSection__star-full
                        sup.revsRateBannerSection__rate
                            | 5.0
                a.revsRateBannerSection__link.link(href="#")
                    | 11 reviews
                    span →
    